[2020-03-28 02:10] Alhadis commented on #4833
Your Rust files are stored in a directory named `examples`, which Linguist [treats as documentation](https://github.com/github/linguist/blob/40992ba7f86889f80dfed3ba95e11e1082200bad/lib/linguist/documentation.yml#L17). You can override this by adding a [`.gitattributes` file](https://github.com/github/linguist/blob/master/README.md#documentation) with the following line:

[code]

[2020-03-28 19:39] stormasm commented on #4833
@Alhadis Thanks kindly that fixed the problem.

You can go ahead and close this issue...

I really appreciate the quick turn around time on this issue.  Hopefully it will help other folks who have Rust repositories with mainly example files instead of src files.

[2020-03-28 19:39] #4833 closed

[2020-03-28 19:41] stormasm commented on #4833
Attention Rust programmers viewing this issue !
You must add a line to your .gitattributes file if most of your Rust programs are located in the example directory...

[2020-03-30 09:52] xfix commented on #4219
Could `.rakutest` be added to extension tracking? It initially wasn't, because it was used by "7 files, 3 repos, 3 users" (which is not surprising, as at that time Raku test framework did not support `.rakutest` extension).

[2020-03-31 19:04] Donnyman777 opened #4834 "Issue publishing pure HTML site on GitHub."
I'm new to coding and even newer to understanding GitHub. When clicking the link to see my published site, it always shows this page https://donnyman777.github.io/CV/
which is completely blank save for the word 'CV' at the top.

I've done the preliminary steps to try and solve the problem, but I'm still confused. It's a basic HTML5-based practice website. My files are all uploaded to my repository

[2020-04-01 07:10] lildude commented on #4834
I'm afraid you've come to the wrong place for help. This repo is specifically for the language detection of a repo's content. https://help.github.com/en/github/working-with-github-pages has loads of info on using GitHub Pages so try there first. If you're still having problems after reading the docs (it definitely has the necessary info as to why you're HTML isn't rendering 😉), try the https://git

[2020-04-01 07:10] #4834 closed

[2020-04-01 13:27] Mottie opened #4835 "Incorrect highlighting of React (JSX) fragments"
Sorry for adding more work on your plate 🙏

This appears to be a problem in the JSX grammar for https://github.com/github-linguist/babel-sublime, which doesn't allow me to open an issue.

## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist

[2020-04-01 20:06] Abourass opened #4836 "Bug: Repo is being reported as all CSS?"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-04-02 09:09] lildude commented on #4836
No bug. This is 100% accurate.  You have one mahoosive CSS file you've missed:

https://github.com/Abourass/mevn-template-with-tailwindCSS/blob/master/server/public/app.css

At 979 KB it far outweighs the total of everything else and its size makes your other files almost insignificant in the total - your other CSS file doesn't even register when things are rounded 😉 :

CSS 979 KB
Vue 4.36 KB
Java

[2020-04-02 14:48] Abourass commented on #4836
Ahhh, my bad. For some reason that didn't show when I tried looking up all the CSS files. Definitely my mistake, sorry about that.
![image](https://user-images.githubusercontent.com/39917231/78263007-a2abd580-74be-11ea-9083-167309135e39.png)

[2020-04-02 14:48] #4836 closed

[2020-04-02 14:59] lildude commented on #4836
That's explained in the code search restrictions linked to in the first point at https://github.com/github/linguist#my-repository-is-detected-as-the-wrong-language of the README 😁

[2020-04-02 15:18] Abourass commented on #4836
Ah man, I really didn't follow that well. My bad again. Lesson learned

[2020-04-04 14:23] pchaigno commented on #4219
@xfix It looks like `.rakutest` is still only used by a handful of users. The purpose of this issue is to track usage for extensions that we expect to reach our threshold soon. It doesn't look like that's the case for `.rakutest`. Don't hesitate to ping me if that changes.

[2020-04-04 16:37] sumanthratna opened #4837 "Linguist not updating after adding .gitattributes for vendored code"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
    - that's what I did
- [x] verified an issue has not already been logg

[2020-04-05 08:50] lildude commented on #4837
You've not clearly stated what you're seeing but are expecting to see so I'm going to take a guess from your other comments that you don't expect CSS to be the predominant language.

I can confirm your `.gitattributes` _is_ taking effect. The reason CSS is the predominant language is because your two remaining CSS files that count, count for more bytes of code than the rest of your files:

CSS 61.

[2020-04-05 15:41] #4837 closed

[2020-04-05 17:49] HappyFacade opened #4838 "Kconfig Language"
Hello, I thought I would open an issue to request support for the [Kconfig (Linux Kernel config) language](https://www.kernel.org/doc/Documentation/kbuild/kconfig-language.txt)

Grammar/syntax: https://github.com/luveti/kconfig-vscode

Example from [Chion82/netfilter-full-cone-nat](https://github.com/Chion82/netfilter-full-cone-nat) readme:

[code]

[2020-04-13 09:40] #4782 closed

[2020-04-16 00:25] nicholasmccullum commented on #1984
@bkeepers I know this issue is a bit dated now, but have you ever open-sourced GitHub's syntax highlighting CSS?

[2020-04-16 05:17] lildude commented on #1984
@nicholasmccullum yup, it was open sourced quite a few years ago when [Primer](https://primer.style/) was announced. The specific repo is https://github.com/primer/github-syntax-light

[2020-04-16 12:09] nicholasmccullum commented on #1984
@lildude That's dope, thanks!

[2020-04-16 12:10] nicholasmccullum commented on #1984
@lildude Any idea if there's a way to easily port that repo into a Rouge theme?

[2020-04-16 13:11] lildude commented on #1984
Why not use the one already included in Rouge? https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/themes/github.rb

[2020-04-16 13:25] nicholasmccullum commented on #1984
@lildude Turns out I was wrong and need a Pygments theme, not a Rouge theme. I found [this](https://github.com/jwarby/jekyll-pygments-themes) repository of Pygments themes, but there's none that match GitHub

[2020-04-16 13:40] lildude commented on #1984
I don't know of any off the top of my head as I've not used Pygments in a long time.

[2020-04-17 21:11] robin-aws opened #4846 "All builds broken due to missing submodule repository for Sublime-Text-2-OpenEdge-ABL"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-04-20 17:59] Jordan-Pommerenck commented on #4828
I attempted to add the new language.  Waiting on pull request.

[2020-04-21 01:19] bwmills opened #4848 "YAML Recognized Though Not Included in Stats"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] verified an issue has not already been logged for your issue ([linguist issues](https://github.com/issues?utf8=%E2%9C%93&q=is%3Aissue+repo%3Agithub/linguist))

[2020-04-21 01:40] Alhadis commented on #4848
You've literally [answered your](https://github.com/github/linguist#my-repository-isnt-showing-my-language) [own question](https://github.com/github/linguist#detectable). :wink:

[2020-04-21 01:53] bwmills commented on #4848
Thanks @Alhadis for the fast response - ok I'll do just that and follow-up.

[2020-04-21 04:54] lildude commented on #4848
As for why you need the override, it's because YAML is considered a data language so not considered when calculating the language statistics:

https://github.com/github/linguist/blob/40992ba7f86889f80dfed3ba95e11e1082200bad/lib/linguist/languages.yml#L6120-L6121

[2020-04-21 14:06] bwmills commented on #4848
Thanks and understood @lildude 😄

[2020-04-21 14:13] #4846 closed

[2020-04-21 16:58] bwmills commented on #4848
Thanks again @lildude - I'll monitor and check there.

[2020-04-21 16:58] #4848 closed

[2020-04-21 22:50] etc0de commented on #4435
Has there been any progress on this? For tiny homebrew languages this would indeed be a really useful and motivating change, otherwise it's like I'd even turn off the language statistics entirely if I could because if they're plain wrong what's the point. And as I think everyone agrees, including every tiny language that might be discontinued soon into linguist's github-wide language list isn't se

[2020-04-22 05:11] lildude commented on #4435
Nope because this requires more than just changes in Linguist and thus requires buy-in and "product sponsorship" for the GitHub.com engineering side of things first.

I opened an issue in the private GitHub org repo for this back in 2018 and regularly update it with new requests.

As this is dependent on changes outside of Linguist, I don't think there's any value in keeping it open here, hence I'

[2020-04-22 05:28] lildude commented on #4838
The Linguist project relies upon community supplied contributions for new languages. Please feel free to review the CONTRIBUTING.md and submit a pull request adding support.

[2020-04-22 05:34] lildude commented on #4835
Sorry for the delay. Yes, this is an unfortunate side effect we have due to a breaking upstream change and no alternative grammar being found. See the comments in the long list of closed issues related to JSX highlighting. If you know of a maintained grammar that we can switch to, please let us know and we'll switch in a shot. Once again, this is something we've tried in the past but didn't succee

[2020-04-22 05:35] #4749 closed

[2020-04-22 05:37] lildude commented on #4649
I've hit a road block with updating Lightshow that is going to require some dedicated time to resolve. As this isn't related to this issue, I'm going to close this issue more.

[2020-04-22 11:54] nwhetsell commented on #4649
I understand that closing this issue is entirely up to Linguist, but I’m not sure that this is a grammar issue, and if it is a grammar issue I’m not sure how to determine what the issue is.

I first noticed this issue after GitHub started using Linguist [v7.6.0](https://github.com/github/linguist/releases/tag/v7.6.0), around the end of Aug 2019. (Jison files were definitely highlighted correctly o

[2020-04-22 13:45] lildude commented on #4649
🤔 I thought this was resolved already.

You raise some interesting points and I'm starting to wonder if this is due to a change around the new syntax highlighting service (it provides its own Javascript grammar) or a change to the `source.js` pulled in by other grammars. The former started just before v7.6.0 was released and v7.6.0 included an update to the Javascript grammar.

I'll reopen this an

[2020-04-22 13:50] Alhadis commented on #4649
I knew Tree Sitter was going to cause trouble sooner or later... 😜

[2020-04-22 17:33] lildude commented on #4649
I ran a local instance of Lightshow in which I've updated the gem to 7.6.1 (I picked up where I left off after getting stuck as reported earlier in this issue) and the syntax highlighting has changed:

![Screenshot 2020-04-22 at 18 27 48](https://user-images.githubusercontent.com/627280/80013684-3291dd80-84c7-11ea-9ec8-865a40dd4b77.png)

It's not quite as reported originally, but confirms there is

[2020-04-23 16:28] ararslan commented on #4799
This issue has not yet been solved.

[2020-04-24 10:20] romarius-by opened #4850 "My ASP.NET Core MVC project was detected like Javascript project"
## Problem Description
My project was detected by Linguist like Javascript project. But it's ASP.NET Core MVC project.

### URL of the affected repository: https://github.com/romarius-by/FruitWorld

### Last modified on:
24.04.2020

### Expected language:
C#

### Detected language:
Javascript

[2020-04-24 10:23] Alhadis commented on #4850
Was there something wrong with the template you neglected to fill out...?

[2020-04-24 10:30] romarius-by commented on #4850
oh, yes, sorry)

[2020-04-24 10:32] Alhadis commented on #4850
https://github.com/github/linguist#my-repository-is-detected-as-the-wrong-language

[2020-04-24 13:03] stefanobaghino commented on #4219
Update on `.daml` (#4523) as of 2020.04.24:
- 2210 unique files (+155 compared to 2019.08.31)
- 180 unique repositories (+37 compared to 2019.08.31)

Ran Harvester with `extension:daml`.

Raw data: https://gist.github.com/stefanobaghino/6439072413623b0a9b05aabeaeebb4e6

Unique repository count method
[code]

Disclaimer: with my private account @stefanobaghino-da, I'm a member of @digital-asset, wh

[2020-04-24 13:19] stefanobaghino commented on #4219
It looks like the main conflict of the `.daml` extension is an XML format using in geospatial processing. I'll look if I can use this fact to produce a more accurate result. I'll gladly take suggestions if you have any. :slightly_smiling_face:

[2020-04-27 01:51] DOWRIGHTTV opened #4852 "GLSL language showing with 0 GLSL code present"
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([ling

[2020-04-27 06:55] lildude commented on #4852
This is because you're using the `.geo` extension for several of your files  and this extension is associated with GLSL:

https://github.com/github/linguist/blob/309acde92e04c86466441afc12992274be938473/lib/linguist/languages.yml#L1622-L1647

You'll need to implement an override to have these reflected at the language you want or exclude them entirely.

[2020-04-27 14:42] ghuls opened #4853 "Allow specifying multiple languages for one file (AWK embedded in Shell)."
I have written several relatively big shell script in which the main part of the logic is written in `awk`. Now the repo is completely detected as shell. It seems not be possible to annotate the repo with `Shell` and `AWK` for this one script.

I could override that shell script to say it only contains awk, but that feels wrong too.

It would be nice if multiple languages can be set for one file,

[2020-04-27 16:57] lildude commented on #4649
Lightshow has now been updated to Linguist v7.9.0 and it shows proper syntax highlighting for Jison. I'll look into where this is getting messed up some time this week or early next.

[2020-04-27 17:43] nwhetsell commented on #4649
Awesome, thank you for looking into this!

[2020-04-27 21:32] DOWRIGHTTV commented on #4852
oh, right. thanks! lets pretend this never happened? ;)

[2020-04-27 21:32] #4852 closed

[2020-04-28 06:24] hyeoksuhan commented on #4484
The file path and lines are depends on your system.
In my case path was `/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX10.15.sdk/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/include/ruby-2.6.0/universal-darwin19/ruby/config.h` and line was 413-414.

[2020-04-28 17:48] maxbrunsfeld commented on #4649
This looks like a bug in GitHub's TextMate grammar engine. Lightshow uses an older version than GitHub.com, but there haven't been too many changes.

[2020-04-28 18:29] maxbrunsfeld commented on #4649
Ok, after a bit more bisecting, I have determined that the change was caused by this change: https://github.com/textmate/textmate/pull/1437. GitHub maintains a private fork of the TextMate highlighting engine, but that ☝️ PR backports a fix that we made into TextMate upstream.

The problem is explained in more detail in that PR, but the TLDR is that the jison or jisonlex grammar contains one or mo

[2020-04-28 18:29] #4649 closed

[2020-04-29 09:26] lildude commented on #4649
I've now updated Lightshow to use the same version as GitHub.com and confirmed it shows the issue with the original grammar too now.

The update coming in https://github.com/cdibbs/language-jison/pull/22 now renders correctly too: [new grammar](https://github-lightshow.herokuapp.com/?utf8=%E2%9C%93&scope=from-url&grammar_format=auto&grammar_url=https%3A%2F%2Fgithub.com%2Fcdibbs%2Flanguage-jison%2F

[2020-04-29 15:43] arkban commented on #4613
I stumbled on someone else making a docker image for this: https://github.com/crazy-max/docker-linguist

I'm using it without complaints, thought others might want find it useful.

[2020-04-29 15:45] lildude commented on #4613
@arkban that's the one mentioned in the OP 😉

Reminds me, I still need to finish looking into that.

[2020-04-29 15:57] arkban opened #4854 "Does not work on non-git directory"
It looks like `linguist` will only successfully run inside an actual git repository, not just a directory.

## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://gith

[2020-04-29 15:59] arkban commented on #4613
Apologies! Firefox find you've failed me for the 58294th time!

[2020-04-29 18:20] arkban commented on #4854
So, maybe this is "working as designed" because when linguist seems to ignore all _uncommitted_ code:
(following from above):
[code]
The [README.md](https://github.com/github/linguist/blob/master/README.md) says "repository" a lot yet it never says that it _only_ looks at what is in the repository as opposed to the directory. I figured it was just using "repository" as a synonym for "working direc

[2020-04-30 04:54] lildude commented on #4854
Correct. This only works on Git repos and only on committed changes or single files. It's primary use is on GitHub.com which uses bare repositories and thus changes need to be committed as individual files don't show on the filesystem.

So whilst not explicitly stated, it is repeatedly indicated by "detect blob languages" in the very first sentence of the READNE.md and the term repository and not

[2020-05-01 15:23] arkban commented on #4854
Thank you for your detailed response!

I took a whack at trying to be a bit more explicit in the README, since clearly some people are missing these clues. https://github.com/github/linguist/pull/4856

[2020-05-01 15:23] #4854 closed

[2020-05-01 18:53] #4828 closed

[2020-05-04 15:01] vinriviere commented on #4681
Many thanks, it works fine now to colorize my assembler files on GitHub 😀
https://github.com/Vretrocomputing/atari-devpac2-afficher_image/blob/master/IMAGE.S

[2020-05-08 20:49] doctorpangloss opened #4859 "Correctly highlight var in java"
<img width="479" alt="Screenshot 2020-05-08 13 47 31" src="https://user-images.githubusercontent.com/2229300/81448049-973d7100-9132-11ea-98df-cd6f2b09d0ba.png">

`var` is a Java keyword.

https://github.com/textmate/java.tmbundle/pull/57 is related

[2020-05-08 20:53] Alhadis commented on #4859
https://github.com/github/linguist#theres-a-problem-with-the-syntax-highlighting-of-a-file

[2020-05-08 20:53] #4859 closed

[2020-05-09 06:19] #4791 closed

[2020-05-10 14:40] atreyasha opened #4860 "Implementing umbrella (void) parent language with well-defined child language(s)"
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([ling

[2020-05-12 03:04] hwdef opened #4862 "report an error during add-grammar"
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([ling

[2020-05-12 07:08] lildude commented on #4862
Looks like you're missing the bundler gem, specifically v1.x. Have you installed all the dependencies and followed the "Getting Started" instructions at the beginning of the file.

If you have, this could be something specific to archlinux or Ruby 2.7.0 neither of which have been formerly tested as GitHub doesn't use either, especially Ruby 2.7 which is very new.

As an aside, unless you've found

[2020-05-12 08:04] hwdef commented on #4862
@lildude
Thanks for your reply. I solved the problem.

And thanks for your suggestion ,I noticed #3689, I think I should make some changes abount our language.How about creating a pr first?If there's any thing wrong, we can discuss it in PR.

[2020-05-12 08:10] lildude commented on #4862
Go for it, but be warned, if you're proposing the addition of the `.k` extension, you're in for a tough battle as it is very popular across many many languages and will be the biggest hurdle to get over.

[2020-05-12 08:12] hwdef commented on #4862
@lildude
Thank you for your reminder. My friend and I have also noticed this problem. We are discussing to change it and try not to let this problem bother you.

[2020-05-12 09:27] hwdef commented on #4862
@lildude
I encountered another error,Can you give me some help?

[code]

[2020-05-12 10:29] lildude commented on #4862
🤔 you're mixing up two different methods of installing the gem.

You appear to have already installed it globally and are then attempting to use bundler to install it again and this is the step that's failing.

What happens if you use `script/bootstrap` as documented?

Try updating your version of bundler too - v1.10.0 is very old.

[2020-05-13 01:41] hwdef commented on #4862
thanks for you help .Here is the complete output.

[code]

And if i update bundler,I will have other errors.

[code]

[2020-05-13 08:35] lildude commented on #4862
I'll start with the end and work backwards:

This is because you've updated to bundler v2. We're limited to v1 due to `licensed`.

You'll need to uninstall v2 and install v1, eg `gem uninstall --version 2.1.4 && gem install bundler -v "~>1.0"`

Going further back in your response...

If you're following the instructions in CONTRIBUTING.md, you shouldn't be running `script/licensed` manually. It ha

[2020-05-14 06:18] hwdef commented on #4862
@lildude

Thank you for your patient answers,it is my mistake.

I started directly from step [Adding a language](https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-a-language) and skipped step [Getting started](https://github.com/github/linguist/blob/master/CONTRIBUTING.md#getting-started).

After following your suggestion, I got the correct result.
If I solve the problem of the

[2020-05-14 08:23] lildude commented on #4862
Good to hear you've got things working now.

That could work, but remember the language and extension needs to meet our minimum popularity requirement in order for it to be accepted and the PR merged.

[2020-05-14 08:43] hwdef commented on #4862
@lildude
Yes, I also noticed this problem. And I checked #4777. I think our repositories has not reached the required quantity. When the quantity meets the requirements, I will create a pr.

Thanks again, I think we can close this issue now.

[2020-05-14 08:46] #4862 closed

[2020-05-17 12:38] Dibbyo456 opened #4865 "PHP syntax highlighting does not work without <?php"
## Preliminary Steps

Please confirm you have...
- [ ] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-05-17 13:36] lildude commented on #4865
🤔 Are you sure this changed recently? I think this behaviour (which is part of [markup](https://github.com/github/markup), not Linguist) has been around for quite some time and there's even issue for it in the markup repo - https://github.com/github/markup/issues/1230

It doesn't look like markup has been updated recently and I've not deployed an update to Linguist since March, so if you're 100% c

[2020-05-17 13:42] Dibbyo456 commented on #4865
Yes. A week ago everything was working just fine. I noticed it 5 days ago that markup wasn't showing up. At first I thought I broke it but then while browsing through other repos I realized the issue coming from Github itself.

Okay. Will do. I will report back here. Thanks.

[2020-05-17 14:22] pchaigno commented on #4860
I'm :+1: for that as long as each extension meets our requirement of *hundreds of repositories*.

Please note that all languages will be displayed in statistics as "Answer Set Programming". Also, defining a grammar for a new language isn't a requirement, but in that case it might be easier to list extensions for the language without grammar directly under "Answer Set Programming" as that would ess

[2020-05-17 14:36] atreyasha commented on #4860
@pchaigno thank you for that.

Before submitting a pull request, I'd like to get your opinion whether [this](https://github.com/search?q=extension%3Alp+NOT+nothack+clingo&type=Repositories) already counts as *hundreds of repositories*?

From my POV it seems technically so, but would be good to know beforehand whether we would have a reasonable chance of having the PR approved given this statistic.

[2020-05-17 18:03] pchaigno commented on #4860
Using [Harvester](https://github.com/Alhadis/Harvester), I downloaded the 1034 [files matching that search query](https://github.com/search?q=extension%3Alp+clingo&type=Code) and counted 161 repositories by 132 users. So no, that would not match our requirement for in-the-wild usage just yet.

Is there another search query that would be more accurate? Do you expect that number to grow significantl

[2020-05-17 18:49] atreyasha commented on #4860
Oh I see. I tried searching on my browser with the modified query:

[code]

Now, the number of repositories is 306. Would this be feasible? As this is a logic-programming language taught in University and used in the industry, I think it would be realistic to expect the numbers to rise quickly.

[2020-05-18 14:43] atreyasha commented on #4860
I had tried to run this query via `Harvester` but came across an error. This [page](https://github.com/search?q=extension%3Alp+"answer+set+programming"+OR+"clingo") is the search result on the GitHub UI.

[2020-05-18 16:06] atreyasha commented on #4860
@Alhadis my bad, I use a light-weight browser by default and had to change to firefox to get the console working. Initially I was not logged in to GitHub on firefox while trying the `js` code for `Harvest`. It is working now after logging in.

Will share the results once the search query finishes.

[2020-05-18 16:15] Alhadis commented on #4860
What browser, exactly? It should work with any browser with a modern JavaScript engine.

[2020-05-18 16:21] atreyasha commented on #4860
Qutebrowser. I am new to it so maybe that's just my incompetence.

The search query looks quite similar to before:

[code]

WDYT?

[2020-05-18 18:21] atreyasha commented on #4860
Update: Managed to get more accurate numbers with a modified search query

[code]

[2020-05-18 20:38] mfn commented on #4865
This 200% worked without requiring `<?php`.

I daily write such fenced code blocks with PHP on the company repos and today I realized they're not colored anymore. This never needed an explicit PHP tag.

=> also contacted github support, this is quite a regression on whatever end

[2020-05-18 20:51] Dibbyo456 commented on #4865
It's been 24 hours, Github support haven't replied. :/

[2020-05-19 05:55] johannesnagl commented on #4865
same here. definitely changed

[2020-05-19 06:13] Alhadis commented on #4865
Pretty sure the culprit is either [recent changes](https://github.com/tree-sitter/tree-sitter-php/compare/e37bd5752d383c240f0bc3b0568e9af3bf72637f...7df04601aa3e3ea8e2c9390da452c195f5436636) to [`tree-sitter/tree-sitter-php`](https://github.com/tree-sitter/tree-sitter-php/commits/master), or a recent change to GitHub's closed-source fork of TextMate's highlighting engine. The change(s) in question

[2020-05-19 07:04] maxbrunsfeld commented on #4865
Yeah, I think I broke this while optimizing GitHub.com's highlighting of embedded code blocks. It appears that there was some special casing of PHP to avoid this problem, and I failed to replicate that special casing in my parallelized implementation.

It isn't a Linguist issue, but let's leave this open until I ship the fix. Thanks for the reports, everyone, and sorry for the poor experience.

[2020-05-19 07:27] Alhadis commented on #4865
Would that, perchance, have anything to do with `injections` being used instead of `injectionSelector`? Because I've noticed Atom isn't 100% consistent with the patterns defined on a grammar's `injections` object, and the patterns of a grammar which defines an `injectionSelector` string.

Another observation I've made is that injections don't affect the contents of a fixed-size capturing group:

[

[2020-05-19 09:29] atreyasha commented on #4860
Update: Managed to get more accurate numbers with a modified search query

[code]

@pchaigno would these numbers be good enough for us to justify an (eventual) PR?

[2020-05-19 17:17] maxbrunsfeld commented on #4865
No, the problem here wasn't tied to either the TextMate or Tree-sitter parsers, it was actually some PHP-specific preprocessing in GitHub itself.

[2020-05-20 18:19] maxbrunsfeld commented on #4865
[code]

[2020-05-20 18:19] #4865 closed

[2020-05-20 21:17] PieterCooreman opened #4867 "ASP Classic vs ASP.NET"
Hello,

Linguist does not make any distinction between Classic ASP and ASP.NET. That is confusing for both groups of developers.

Is it possible to separate both? Classic ASP files always have the extension ".asp". ASP.NET applications never have the extension .asp.

Many thanks for taking this into consideration.

Grts, Pieter

[2020-05-24 04:21] ararslan commented on #4799
Same deal

[2020-05-24 08:57] pchaigno commented on #4860
Yes, that might be enough, but I'm worried about conflicting languages. Files matched by [this query](https://github.com/search?p=1&q=extension%3Alp+NOT+%22answer+set%22+NOT+clingo+NOT+gringo+NOT+clasp&type=Code) are, for the most part, not Answer Set Programming files, right? If we add support for a file extension, we need to support all languages that uses it and are widespread enough. Otherwise

[2020-05-24 09:13] pchaigno commented on #4867
We'd welcome a pull request to separate the two! :+1:

[2020-05-24 10:59] #2726 closed

[2020-05-24 11:32] atreyasha commented on #4860
Thank you for the feedback. Yes, unfortunately those files from the above search query are not all part of "Answer Set Programming". Based on a quick look, the first few seem to have a HTML syntax, the others I am not too sure.

For this, I have a couple of perspectives.

1. Based on [languages.yml](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml), there is no other langu

[2020-05-24 11:39] Alhadis commented on #4860
@atreyasha It may interest you to know that many of the entries in `languages.yml` were actually discovered while researching potential conflicts like this one. It isn't uncommon for 2 or even 3 unrelated languages to wind up being submitted together, simply because nobody had researched the given extension thoroughly enough.

[2020-05-24 11:48] atreyasha commented on #4860
@Alhadis thank you for that. But specific to this issue, what other steps should I/we be taking to reduce the changes of conflict for the `.lp` extension?

[2020-05-24 11:59] Alhadis commented on #4860
It actually is specific to this issue. If there are conflicts with languages that are widespread enough to qualify for registration as well, then they need to be added so Linguist can tell them apart. Linguist can only identify languages it's familiar with; if there's only one language associated with an extension, it blindly assumes that file to be the language in question.

[2020-05-24 12:02] atreyasha commented on #4860
What steps should I/we take? I understand there are problems, that is clear.

[2020-05-24 12:05] Alhadis commented on #4860
[Adding a language](https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-a-language) is explained in detail in [the contributing guide](https://github.com/github/linguist/blob/master/CONTRIBUTING.md#contributing).

[2020-05-24 12:11] atreyasha commented on #4860
@Alhadis I already know this. This is not my point.

I opened this issue to iron out all the fine-details (specific to my case) that I need to know before opening a PR.

My point is what can I do to address this concern of yours? Should I also make a PR for all other "languages" using the `.lp` extension? I don't even know if others using the `.lp` extension are implementing a language, as we are.

[2020-05-24 12:21] Alhadis commented on #4860
That's the hard part. Using [Harvester](https://github.com/Alhadis/Harvester), collect as many URLs as possible, then download them *en masse*, and go through them locally. This process can be arduous and time-consuming, which is why I'm usually the one who ends up putting in time to research the extension's usage. Unfortunately, time isn't something I have at the moment, hence why I'm explaining

[2020-05-24 12:29] atreyasha commented on #4860
I understand now. I was running `Harvester` for the last 20 mins on the other `.lp` implomentations during this conversation, because I thought it might come into use.

The results are unfortunately ~50-50. Grey area once again; the other "languages" are distributed into sub-groups. Some files have a HTML-like syntax, some are purely text files and others are of some mathematical optimization lang

[2020-05-25 15:38] K-Maehashi opened #4869 "Ignoring `.Rd` files in `man/` folder from GitHub's code stats"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-05-25 17:17] lildude commented on #4869
First and foremost, don't mix the results of clicking the language in the language bar with what has actually been counted: two different components are at play. The results are from the search results and the language bar stats are from Linguist. Linguist deliberately has no influence on the search results as you'd never be able to find any of the files you may have chosen to hide from the stats

[2020-05-25 19:22] K-Maehashi commented on #4869
Got it. I was mixing stats and search results. Thanks for the detailed response!

[2020-05-25 19:22] #4869 closed

[2020-05-26 13:30] aBARICHELLO opened #4870 "Font files are classified as Scala or HolyC"
Font source files included in repositories are being misidentified as Objective-J/HolyC/Scala.

### URL of the affected repository:
https://github.com/ValveSoftware/Proton/tree/proton_5.0
https://github.com/adobe-fonts/source-han-mono

### Expected language:
none

### Detected language:
Scala/HolyC/SuperCollider/etc

[2020-05-26 13:50] lildude commented on #4870
As you've already found, this is because of the `.sc` extension which is only associated with those three languages and no font "languages" or otherwise explicitly ignored.  As a result, things fall through to the [heuristic](https://github.com/github/linguist/blob/16507700cdf46a78368a571c04d1bc601f62947d/lib/linguist/heuristics.yml#L437-L442) and then on to the classifier, but given Linguist does

[2020-05-26 13:51] lildude commented on #4870
Oh, this applies to the other extensions too.

[2020-05-27 10:11] #4799 closed

[2020-05-27 13:00] hugolgst opened #4872 "Implementing Vugu"
You should add the support of [Vugu](https://github.com/vugu/vugu)

[2020-05-29 05:53] Dibbyo456 commented on #4865
@maxbrunsfeld The issue isn't fully resolved yet. When browsing a repo, Github isn't highlighting php blocks but when viewing README.md explicitly code highlighting works.

## Example:

Browsing repo (https://github.com/catfan/Medoo)

![](http://put.nu/files/sLP96Sc.png)

Browsing README.md (https://github.com/catfan/Medoo/blob/master/README.md)

![](http://put.nu/files/An3L12Z.png)

[2020-05-29 17:57] maxbrunsfeld commented on #4865
@Dibbyo456 Thanks for the detailed report; I see the problem.

[2020-05-29 18:29] maxbrunsfeld commented on #4865
I believe the problem is just that GitHub has cached some incorrectly-rendered READMEs. I just [forked](https://github.com/maxbrunsfeld/Medoo) the `catfan/Medoo` repo, and the README renders correctly in my fork.

I will look into busting this cache, but I don't have an ETA for when this will be fixed. Thanks for your patience.

[2020-05-30 17:20] probablykasper opened #4873 "dotenv syntax highlighting support"
Feature request to add syntax highlighting support for `.env` files. This was discussed in #3717 in 2017, but seems to have been closed without reason.

The `.env` syntax is used to define environment variables, and it's very commonly used with Node.js, Docker and probably others.

Although `.env` is often used for passwords, it's also commonly used for general config files which are fine to commi

[2020-05-31 10:52] delata opened #4875 "question: Why github mark C header files as C++?"
it's confusing.

[2020-05-31 11:04] lildude commented on #4875
This has been discussed many many times; simply search the previous issues as suggested in the template you removed 😉 .

https://github.com/github/linguist/issues/1626 is the issue that is still open. Take a look at the discussion (it's a looooong issue) and all the linked issues and PRs.

In short, there is no easy way to differentiate between a header file for C, C++, or Objective-C in every cir

[2020-05-31 12:03] delata commented on #4875
then they should be marked as Header File.
not C++.

[2020-05-31 14:30] lildude commented on #4875
That would be identifying the function or type of file, not the language. Linguist is for identifying programming languages.

[2020-05-31 15:29] delata commented on #4875
the system is broken

[2020-05-31 15:29] #4875 closed

[2020-06-01 10:41] yannikbloscheck commented on #4229
If it can't really decide based on the content, the fallback language should still be the far more popular and original language for that file extension. This is PHP and not Hack. I find the current behaviour very confusing. Took me some time to finally find this issue with an explanation.

[2020-06-01 18:16] maxbrunsfeld commented on #4865
I believe all of the incorrectly-rendered data is gone.

[2020-06-01 18:29] Dibbyo456 commented on #4865
Yup. Thank you for taking care of this. 🤟

[2020-06-05 06:56] #4838 closed

[2020-06-05 06:56] #4835 closed

[2020-06-06 09:27] lildude commented on #4873
As Linguist relies upon community contributions to address such requests, we'd welcome a PR that adds support or attributes the files to an already defined language.

[2020-06-06 09:29] lildude commented on #4872
It looks like Vugu is a library written in Go and not a unique programming language so should be classified as Go and not as it's own language.

[2020-06-06 09:39] hugolgst commented on #4872
Vugu is inspired from VueJS and on GitHub, VueJS is classified as its one language.

[2020-06-06 10:13] lildude commented on #4872
Ah ok. So it's a markup language as opposed to a programming language.

As Linguist relies upon community contributions to address such requests, we'd welcome a PR that adds support or attributes the files to an already defined language, assuming it meets the minimum usage requirements as detailed in CONTRIBUTING.md.

[2020-06-07 00:06] thzoid opened #4878 "Bundler could not find compatible versions for gem "bundler""
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-06-07 07:25] lildude commented on #4878
This should do the trick:

- remove the `Gemfile.lock` file if it exists in the linguist directory
- install Bundler 1.17.3: `gem install bundler -v 1.17.3`
- run `bundler _1.17.3_`
- pick up the steps in `CONTRIBUTING.md` with `script/bootstrap`

[2020-06-07 07:41] thzoid commented on #4878
This is the terminal log:

`gem install bundler -v 1.17.3`
[code]
`bundler _1.17.3_`
```Could not locate Gemfile```

[2020-06-07 07:55] thzoid commented on #4878
That worked at some level but then I got this error:

`An error occurred while installing charlock_holmes (0.7.7), and Bundler cannot continue.
Make sure that `gem install charlock_holmes -v '0.7.7' --source 'https://rubygems.org/'` succeeds before bundling.`

I tried to run the suggested command: `gem install charlock_holmes -v '0.7.7' --source 'https://rubygems.org/'`

But then I got:

[code]

[2020-06-07 09:03] #4878 closed

[2020-06-07 13:00] #4850 closed

[2020-06-08 07:24] jakewilliami opened #4879 "Possible dependency to add to usage/installation: dylib"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-06-08 07:30] Alhadis commented on #4879
`dylib` means "dynamic library". Going by this:

	dependent dylib '/usr/local/opt/icu4c/lib/libicudata.64.dylib' not found

... it seems you don't have `libicu` installed. Run `brew install icu4c` and see if the error persists.

[2020-06-08 07:53] jakewilliami commented on #4879
I have `icu4c` installed already.

[2020-06-08 08:35] lildude commented on #4879
Looks like you've run `brew upgrade` which has upgraded your version of `icu4c`. I hit this problem every time I update.

This package has the annoying "feature" of including the version number in the filename (`64` in this case) which breaks anything that is compiled against that library, which in this case is charlock_holmes.

You'll find you're probably on `65` or `66` now.  I've got `66` thoug

[2020-06-08 10:13] jakewilliami commented on #4879
@lildude thanks for this.  This is exactly the error I had.

I'll just rewrite the steps for the quick hack you mentioned more explicitly before closing this.  This is for those (like me) who mightn't immediately know how to do this.

1. Find which version of `icu4c` you have installed.  There might be an easier way to do this, but I ran `brew info icu4c | grep Cellar | awk -F'[/ ]' '{print $6}'`.

[2020-06-08 10:13] #4879 closed

[2020-06-09 13:39] ojedavidea opened #4880 "files with .org not showing in language stats bar"
I have multiple files with .org and they are not showing in the repository language stats bar. I don't understand why.

[2020-06-09 13:44] lildude commented on #4880
Well, we can't really help you if you don't fill in the template as one of the key methods of being able to help is see the repo in question 😉

It also allows us to confirm any assumptions about reading the documentation etc referenced in the template.

Please add the original template to the OP.

[2020-06-09 17:09] ojedavidea commented on #4880
Thank you! My apologies. I guess we can close this issue because I don't know what to write into the template. My comment was a result of my frustration because I didn't know where to get help from. And I just didn't understand how linguist work, why this feature from GitHub for the language stats bar isn't already anywhere available and editable in my repo or account. I understand there are some

[2020-06-09 17:09] #4880 closed

[2020-06-09 17:15] lildude commented on #4880
This is all within your control thanks to you having the ability to write to your repo and add a `.gitattributes` file.

The reason your `.org` files don't count is because that extension is associated with the Org language which is considered "prose", ie written words, and not a programming language:

https://github.com/github/linguist/blob/2a6d952df870807034c3830738f95ad33222aca0/lib/linguist/la

[2020-06-09 17:25] ojedavidea commented on #4880
It worked writing :

`*.org linguist-detectable`

in a new file named :

`.gitattributes`

Thank you !

[2020-06-10 14:14] retnikt opened #4882 "About poetry.lock"
`poetry.lock` files are misclassified.

## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not a

[2020-06-11 17:13] smola opened #4884 "The state of SQL detection"
## Problem

Linguist's detection of languages in the SQL family is currently quite inconsistent. The classifier seems to be quite biased towards PL/pgSQL, classifying a lot of SQL variants as PL/pgSQL (examples: [mysql](https://github.com/search?o=desc&q=mysql+language%3APLpgSQL&s=indexed&type=Code), [oracle](https://github.com/search?o=desc&q=oracle+language%3APLpgSQL&s=indexed&type=Code)). This

[2020-06-13 08:49] #4853 closed

[2020-06-14 11:25] pchaigno commented on #4884
Looks good to me :+1:

Yeah, that seems reasonable to me if we can't find an efficient way to distinguish between all SQL variants.

Let's involve peeps who contribute all the SQL variants in the discussion. /cc @Shoelace contribute most of the variants, @beau-witter contributed the T-SQL variant.

[2020-06-14 14:49] beau-witter commented on #4884
This all seems reasonable to me. SQL does seem like a tough nut to crack and while i do agree that SQL should be used as a fall back more often (better to classify a square as a rectangle than misidentify a rectangle as a square), it will be unpleasant to not have the syntax highlighting you expect when viewing the file in the webapp. That last part may not be solvable currently and it is certainl

[2020-06-14 16:15] nishtahir opened #4890 "Next Linguist deployment?"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-06-15 08:45] lildude commented on #4890
I'm aiming to do it this week. I started last week with the opening of https://github.com/github/linguist/pull/4881 but have hit problems with local testing unrelated to Linguist.

I'm going to close this issue in favour of that PR.

[2020-06-15 08:45] #4890 closed

[2020-06-19 05:21] MarcusJohnson91 commented on #1626
`_Generic` is a C only keyword, that could be used to detect C from C++ or Objective-C/++

[2020-06-19 20:41] falloutphil opened #4895 "emacs org-mode highlighting, not markup"
Hi,

Linguist seems to support syntax highlighting for emacs org-mode:
https://github.com/github/linguist/blob/master/lib/linguist/languages.yml#L3758

but github seems to automatically render org as mark-up:
https://github.com/github/markup#markups

Whilst this is often useful, sometimes it would be better to have the raw org script syntax highlighted.

Is there a way to tell github to render org

[2020-06-21 08:01] pchaigno commented on #4895
What's the use case(s) for highlighting source files instead of rendering them?

[2020-06-21 08:23] falloutphil commented on #4895
For me - The rendering is pretty limited and will never cater for all use cases of org-mode.  I do use it for writing documentation in github, and it is undoubtedly useful for that.  But Org is more than just a HTML based markup language. With more sophisticated templates I am much more interested in reading the underlying config and code than I am looking at how it might look when rendered.  In p

[2020-06-21 15:40] Hnnx commented on #4229
I don't mind, it makes me look like I'm using some super secret language while.
Also experiencing this on certain .php files

[2020-06-22 08:40] lildude commented on #4895
Unfortunately not, and this isn't due to Linguist either. It's due to the way GitHub and markup behaves and neither offer an override mechanism. The best thing to do is contact GitHub support using the "Contact GitHub" link at the bottom of any page and log this as a feature request.

[2020-06-23 03:49] Taras1987 opened #4898 "russia"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [ ] verified an issue has not already been logged for your issue ([ling

[2020-06-23 06:34] #4898 closed

[2020-06-23 19:08] yourpropertyexpert opened #4899 "Mustache misclassified as "HTML+Django""
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works)
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([lingu

[2020-06-26 12:46] aeikum commented on #4870
A month is a long time? Yes of course it's still an issue. Come on, bot. Am I going to have to do this every month?

[2020-06-26 12:56] lildude commented on #4870
Yes, or you can submit a PR to add support 😉, after all Linguist relies almost exclusively on community contributions.

[2020-06-26 16:11] softmoth opened #4902 "Some Perl files are misclassified as Raku"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-06-26 16:45] lildude opened #4903 "Feedback: New free language colour picker"
For a very long time now, picking a free colour has been a right pain in the 🍑 and I've been mulling various methods of easing this in one form or another.

Comments yesterday in https://github.com/github/linguist/pull/4900 and https://github.com/github/linguist/pull/4894 and a bit of free time on my hands renewed my interest, so I dug into various different methods, and finally came up with a sim

[2020-06-27 11:16] stuartpb opened #4905 "Helm's default skeleton's `_helpers.tpl` is a Go template, not a Smarty template"
Right now, a repository that contains only a Helm chart (such as https://github.com/stuartpb/inhouse-dns) will be misrecognized as a project using the PHP "Smarty" engine.

Helm is becoming increasingly popular, so this misread is becoming more and more glaring.

[2020-06-27 11:33] pchaigno commented on #4903
This is awesome! I love how the blue is completely saturated...

How hard do you think it'd be to grey, make black, or make white areas that are unavailable? I could try and implement that in a couple weeks (when I'll have more time) if it sounds like something that would be possible.

[2020-06-27 16:36] lildude commented on #4903
Oh it's possible, just incredibly time consuming as you'd need to iterate over every colour and perform the check in order to determine if the colour is free or not.  This is the approach taken in https://github.com/PMunch/colourfinder and the one I initially started with, albeit in Ruby and in a slightly different form, in this project but found it too time consuming and would require maintenance

[2020-06-27 18:12] ShivKushwah opened #4906 "Linguist doesn't accurately count C files vs Python files"
## Preliminary Steps

Please confirm you have...
- [ ] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [ ] verified an issue has not already been logged for your issue ([ling

[2020-06-27 18:32] pchaigno commented on #4906
Please read [How Linguist Works](https://github.com/github/linguist#how-linguist-works).

[2020-06-27 18:36] ShivKushwah commented on #4906
Hi, I have read that documentation before posting and wasn't able to see how that affected my repository as I don't have any explicit language overrides. In addition, the language tab was correctly showing the the language distribution (primarily C/C++) before I committed the Python files. One thing to note is that I was unable to test linguist locally (on MacOS) since I was running into make erro

[2020-06-27 18:49] ShivKushwah commented on #4906
@pchaigno  I'm still not entirely sure how that applies to me?
In my repo, I have ~30 C files with thousands of lines of code each while I have ~7 Python files with less than a hundred lines.
Shouldn't the bytes of C code in this case be much more than the bytes of Python code?

<img width="241" alt="Screen Shot 2020-06-27 at 11 46 28 AM" src="https://user-images.githubusercontent.com/13080000/859

[2020-06-29 02:10] noxabellus commented on #1626
I have no .cpp files in my project,
None of my code matches the heuristic patterns for cpp,
I have a .gitattributes with `*.h linguist-language=C`,
and yet still github thinks some of my headers are cpp
![image](https://user-images.githubusercontent.com/13547335/85965844-acd95500-b983-11ea-9657-28ba8d39cb52.png)
https://github.com/zeta-lang/czeta/search?l=c%2B%2B

[2020-06-29 02:16] MarcusJohnson91 commented on #1626
Have you added `*.h linguist-detectable=true` to your gitattributes file?

[2020-06-29 02:42] noxabellus commented on #1626
It seems that it takes a while for the language statistics bar to update once you have added the .gitattributes file (fwiw, I dont have `linguist-detectable`, just `linguist-language=C`) as now, roughly an hour after pushing the change, my bar is displaying correctly
![image](https://user-images.githubusercontent.com/13547335/85967420-02affc00-b988-11ea-81dd-9ff3d7654d4f.png)

The files that are r

[2020-06-29 05:10] moe123 commented on #1626
@noxabellus yours is not so bad ;LOL; https://github.com/moe123/macadam/search?l=c ; c++ I could understand the dilemma; obj-c very not; linguist is just a front-end patch nothing else. The core problem is the github indexation model which is polluted.

[2020-06-29 07:48] Alhadis commented on #4903
I like how GitHub's designers have managed to redesign the entire website, yet still haven't reached a consensus as to whether or not colour proximity is even relevant anymore... **#priorities**

I recommend generating a list of unavailable colours ahead-of-time, and configuring a webhook to regenerate the list each time a change is pushed to Linguist (I'm assuming that's possible using GitHub Act

[2020-06-29 17:31] lildude commented on #4906
Indeed you do, but you're looking at two different things. The top image is showing you the search results of your repo. The second is showing the language breakdown. Linguist is only responsible for the latter and has no influence on the former other than to identify the language.

Now note how only two languages are listed there: Python and CMake.  That's because only these files are being count

[2020-06-29 19:46] ShivKushwah commented on #4906
@lildude  THANK YOU SO MUCH!
I added "Samples/* linguist-documentation=false" to my .gitattributes file and everything works now.

Thanks again!

[2020-06-29 19:46] #4906 closed

[2020-06-30 14:19] lildude commented on #4905
This is because the `.tpl` extension is only associated with Smarty. This is also a duplicate of https://github.com/github/linguist/issues/4578 which went stale because a PR hasn't been submitted to add support 😉.

[2020-06-30 14:22] lildude commented on #4902
Linguist is a community maintained project, so if you're confident this will help, please feel free to submit a pull request.

[2020-06-30 14:29] lildude commented on #4899
Yup, that's pretty much it. See the CONTRIBUTING.md for requirements and instructions.

[2020-06-30 14:31] lildude commented on #4882
Linguist is a community maintained project and we'd welcome a pull request.

[2020-06-30 14:32] yourpropertyexpert commented on #4899
Thanks.

It's on the to-do list. Hopefully this week, but no promises.

[2020-06-30 19:32] yourpropertyexpert opened #4908 "Installation script on MacOS fails on Macs with C++17"
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([ling

[2020-07-01 14:04] hilder-vitor opened #4909 "Bug report: missidentifying SAGE programming language"
## Preliminary Steps

Please confirm you have...
- [ x ] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ x ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ x ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [ x ] verified an issue has not already been logged for your issu

[2020-07-01 15:34] lildude commented on #4909
This is happening because Sage is grouped alongside Python:

https://github.com/github/linguist/blob/b24ff11d9cf60dd996156a718f83024c9436e5ea/lib/linguist/languages.yml#L4939-L4949

This has been the case since support was added for it over 9 years ago in https://github.com/github/linguist/pull/91 and to quote the original PR "Sage uses python for syntax" hence it has been grouped with Python.

[2020-07-01 15:41] lildude commented on #4908
My `~/.bundle/config` file contains:

[code]

... which I would have set a long time ago, but probably used something like:

[code]

... so to get your flags, something like this might do the trick:

[code]

[2020-07-02 13:21] hilder-vitor commented on #4909
Hello,
thank you for answering!

So, is this a design choice and it means that Sage will continue being classified as Python? Or would you be interested in separating them?

[2020-07-02 13:32] lildude commented on #4909
I know absolutely nothing about Sage, but if there's a good reason to break it out, and there's support for it, I don't see why not. Feel free to add this to the discussion in https://github.com/github/linguist/issues/4291

[2020-07-02 14:05] hilder-vitor commented on #4291
The language [Sage](https://www.sagemath.org/) is really built on top of Python and their syntaxes are almost the same, but they are not 100% equal. For example, `y^3` computes the cube of `y` in Sage instead of the y XOR 3, as in Python.
Moreover,  `R.<t> = QQ['x']` is a valid line of code in Sage, while in Python it raises a SyntaxError.

Besides the syntax, the other features are very different

[2020-07-02 14:07] hilder-vitor commented on #4909
I have done so. I do not know what would be considered a "good reason", but I have at least talked a bit about the differences between them.  (:

Thank you again!

[2020-07-02 14:35] Alhadis commented on #4291
@hilder-vitor You should submit a pull-request to degroup them; this thread is chiefly for discussing languages whose "independence" is ambiguous and open to debate. There's clearly no ambiguity or room for subjectivity in what you've described.

[2020-07-02 14:38] Alhadis commented on #4291
@ObserverOfTime I missed your comment when you posted it. I've added Svelte to the list.

[2020-07-04 11:23] Epokhe commented on #4908
@lildude trying your suggestion didn't work, here is the output
[code]

[2020-07-05 10:13] smola commented on #4905
There is more discussion about Go templates here: https://github.com/github/linguist/issues/2726

[2020-07-05 15:39] pchaigno commented on #4909
Closing in favor of #4291.

[2020-07-05 15:39] #4909 closed

[2020-07-05 16:01] pchaigno commented on #4895
@lildude Couldn't we offer an override mechanism in Linguist if we define a special language entry for each rendered language? Then, (1) users could select that special language entry via our current overrides and (2) [github-markup](https://github.com/github/markup) wouldn't render the files because it relies on Linguist to detect the language.

[2020-07-06 06:00] lildude commented on #4908
You got me stumped. Looks like the args are making it through though. Your best bet is to seek help from the upstream charlock_holmes repo. There seem to be quite a few issues like this.

[2020-07-06 06:36] Epokhe commented on #4908
I fixed line 414 manually and saved as sudo, that solved the problem 🤷‍♂️

[2020-07-06 09:19] lildude commented on #4895
@pchaigno that could work but it feels out of place doing this from Linguist. I think it might also cause confusion when it comes to what language is detected, what to use, when and where, and where to log issues.

It would also be a partial solution as it appears the `.gitattributes` override method doesn't seem to affect markup rendering (I've not looked into why not) according to https://github

[2020-07-06 11:55] yourpropertyexpert commented on #4908
I know I'd missing something obvious, but which config.h ?

[2020-07-06 12:04] Epokhe commented on #4908
Sorry for not being clear @yourpropertyexpert
The errors I got points to a config.h file and line 413-414. The first one from the snippet above:
[code]

For each line marked by the errors, I went there and put spaces in between literals and identifiers, changing them from this
[code]

To this
[code]

Hope that helps

[2020-07-06 12:06] yourpropertyexpert commented on #4908
It's not your fault... I really appreciate your patience.

I've been programming for 30+ years, but this is my first attempt at Ruby... and I found something like 4 different files called config.h in the repo :-)

[2020-07-06 17:46] probablykasper commented on #4873
Seems fair to keep this open as dotenv is a common syntax

[2020-07-06 18:04] yourpropertyexpert commented on #4899
OK - that's submitted as a pull request.

The delay was basically to do with the MacOS installation issues logged separately as [https://github.com/github/linguist/issues/4908](issue 4908).

I hope I've marked it up correctly.

The sample files are from a private repo from a company I run, but I'm happy to licence them to linguist under whatever licence makes life easiest for you guys :-) [And, ye

[2020-07-07 10:57] enty8080 opened #4917 "Question: How can I add my own stable programming language?"
**Sorry for ignoring issue form, this is just a question**

@github

I have my own stable programming language named HEY here:
https://enty8080.github.io/hey

You can download it and check, this language stable and works well.

How can I add it to linguist with language_id and highlight?

**Thanks.**

[2020-07-07 11:15] Alhadis commented on #4917
The answers to your question are in the issue template which you didn't fill out.

[2020-07-07 12:33] yourpropertyexpert commented on #4908
I've updated the "Contributing" documentation, and made a PR - #4910

Given it's a problem with an upstream dependency, I don't see a plausible way to fix it in this project (and it has been logged with them.)

But, I thought I could at least try to update the docs.

[2020-07-09 10:13] enty8080 commented on #4917
@Alhadis I will make a PR with support for my language.

[2020-07-09 13:16] Alhadis commented on #4917
Before you do so, please make an effort to read our [contribution guidelines](https://github.com/github/linguist/blob/master/CONTRIBUTING.md). In particular, note the part about real-world usage and what we require of new languages before we can support them.

[2020-07-09 15:41] #4917 closed

[2020-07-10 13:56] smola commented on #4873
We might want to classify these as `Shell` and get proper syntax highlighting. As far as I know, `.env` is kind of inspired on shell configuration files and sometimes will even contain full sh/bash syntax.

You can find many real world examples of `.env` and `*.env` files which are predominantly shell scripts:
- https://github.com/shri314/google-api-client/blob/0433d7ac86d7ff7b263718105359d0d58f17

[2020-07-10 13:59] smola commented on #4867
Bump [for stale bot].

[2020-07-10 15:10] probablykasper commented on #4873
@smola I think it would be best to keep dotenv separated from shell syntax.

The .env files with shell scripts you linked use hashbangs like `#!/bin/bash`. Is it possible for linguist to detect highlighting from that, and otherwise use dotenv syntax?

For reference, the dotenv npm package lists it's [syntax rules](https://www.npmjs.com/package/dotenv#rules), except variable expansion which is adde

[2020-07-10 15:19] smola commented on #4747
This is probably about a few files from different Assembly variants with `.os` extension that are classified as `1C Enterprise`. It's just a few dozens of them. The results also include `Makefile.os`, which is Makefile and should be fixed at some point with prefix patterns. See: https://github.com/search?p=1&q=extension%3Aos+%28lda+OR+ldx+OR+inc+OR+mov+OR+beq+OR+brk%29&type=Code

[2020-07-10 15:28] smola commented on #4873
@probablycorey Please, see the description of this PR: https://github.com/github/linguist/pull/4922

dotenv is not something new from the Node.js world. It's a convention to somewhat standarize a subset of shell script syntax to allow parsing from different languages. As far as I can tell, all dotenv variants (there are many, supporting different syntax) are strict subsets of Bash. So any highligh

[2020-07-10 15:30] smola commented on #4873
Well, actually this syntax from the npm package is not valid Bash: `JSON={"foo": "bar"}`...

[2020-07-10 16:07] rafmst opened #4923 "Typescript repo beeing recognized as Javascript"
## Problem Description

Could it be because of the .json files? Still, it should show 1% Typescript at least

### URL of the affected repository:
https://github.com/rafmst/propor

### Last modified on:
2019-07-10

### Expected language:
Typescript

### Detected language:
Javascript

[2020-07-10 16:38] lildude commented on #4923
Nope. It's because of the [shebang](https://github.com/rafmst/propor/blob/1d155142ede6996b72b54caa65fe83e4dea2f862/src/index.ts#L1):

[code]

Linguist considers `node` as an interpreter for Javascript, not Typescript:

https://github.com/github/linguist/blob/775b07d40c04ef6e0051a541886a8f1e30a892f4/lib/linguist/languages.yml#L2564-L2569

For Typescript, you'd need to either use `deno` or `ts-node`

[2020-07-10 17:06] rafmst commented on #4923
That explains it, I will try to fix it like you suggested. Thanks for the help, have a nice weekend 😁

[2020-07-10 20:38] probablykasper commented on #4873
@smola Ah got it, didn't realize there are variants from the npm package's implementation. Makes sense to use shell syntax in that case

[2020-07-11 02:21] #4860 closed

[2020-07-11 09:35] pchaigno commented on #4895
@lildude Ok, makes sense.

As an alternative, it might be possible to implement an override mechanism in https://github.com/github/markup.

[2020-07-11 09:57] pchaigno commented on #4923
@lildude I associated the `node` interpreter with TypeScript in #4261. When did we remove that?

[2020-07-11 15:59] smola commented on #4867
@PieterCooreman Maybe you can help by reviewing this PR: https://github.com/github/linguist/pull/4924

[2020-07-13 08:40] lildude commented on #4923
When @Alhadis merged https://github.com/github/linguist/pull/4470 😁

The OP of the PR states:

[2020-07-13 09:03] #4882 closed

[2020-07-15 15:38] ShrutiSara commented on #542
Similar issue with this repo: https://textin-textin.web.app/
Can you help me?

[2020-07-15 17:47] spixi commented on #542
https://github.com/ShrutiSara/TextIn is correctly detected
JavaScript 59.8%
HTML 29.2%
CSS 11.0%

The files were pretty new and it took a little  time until the linguist bot visited it.

[2020-07-15 19:07] ShrutiSara commented on #542
Thanks!

[2020-07-17 13:58] labbati opened #4925 "Unintended release of 0.48.0"

[2020-07-17 13:59] #4925 closed

[2020-07-20 09:49] DanChaltiel opened #4927 ".gitattributes file is ignored on GitHub"
## Preliminary Steps

Please confirm you have...
- [x ] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x ] verified an issue has not already been logged for your issue ([

[2020-07-20 12:11] #4872 closed

[2020-07-20 12:21] lildude commented on #4927
You don't need the `.gitattributes` at all because Linguist already considers everything under `docs/` as documentation:

https://github.com/github/linguist/blob/99a06bad587cee7426aab26656d2ef37e1cf8202/lib/linguist/documentation.yml#L10-L12

Your changes are also having no effect because your high HTML count is due to one massive HTML file: https://github.com/DanChaltiel/crosstable/blob/master/pk

[2020-07-20 12:24] DanChaltiel commented on #4927
Oh, I see, sorry for the false alert

[2020-07-20 12:24] #4927 closed

[2020-07-24 22:14] jisensee opened #4930 "ReasonML files classified as C++"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-07-26 01:15] drewcrawford commented on #1626
IMO `#import` ought to be removed [as a pattern for Objective-C](https://github.com/github/linguist/blob/master/lib/linguist/heuristics.yml#L554).  Although it began as an ObjC feature, it is implemented for C/C++ by clang and GCC, and (differently) for C++ by Microsoft.  Detecting `#import` as objc is a significant source of misclassification for my headers.

[2020-07-26 04:31] Alhadis commented on #4566
I've tentatively started work on this in the [`prefix-strategy`](https://github.com/github/linguist/commit/363d962b450b63e67932bef53c1781a8c4ca3a6f) branch. You can track my slow and sporadic bursts of progress there.

[2020-07-27 09:24] lildude commented on #4930
This will be because the `.re` extension is associated with both Reason and C++ and we don't have a heuristic for the extension so we fall back to the naïve Bayesian classifier which is making a guess based on the limited samples we have.

If you're up for it, please feel free to submit a PR implementing a heuristic to help improve the language detection.

This should be in the `.gitattributes`, b

[2020-07-27 11:54] jisensee commented on #4930
Alright, thanks for the explanations, makes sense to me.

Me saying I put the override in .gitignore was just a typo, it was late 😛
After adding it I have 100% Reason shown on the repo but when I check the breakdown of files, I still see some classified as C++ there. That seems weird to me or do I understand the override mechanism wrong? I would expect both views to be in sync.

[2020-07-27 12:00] lildude commented on #4930
Yeah, that difference is because you're looking at the indexed search results which as you can see haven't been reindexed for a few days. We don't go back and retrospectively update all files if you change the language in `.gitattributes` file. The search index will be updated as you touch the files though.

[2020-07-27 13:12] aeikum commented on #4870
https://github.com/github/linguist/issues/4870#issuecomment-650159950

[2020-07-30 09:48] pchaigno commented on #4903
@lildude I think this can be closed?

[2020-07-30 13:22] #4903 closed

[2020-07-30 13:30] Alhadis commented on #4903
Awh, but I was just about to offer feedback. 😭

[2020-07-30 14:21] lildude commented on #4903
You still can 😁

[2020-07-30 14:26] Alhadis commented on #4903
My feedback is that the colour proximity requirement needs to leave the hall. 😁

[2020-08-02 15:44] flybd5 opened #4939 "Misclassified language"
## Problem Description

Linguist does not pick up on .yml files in my repo

### URL of the affected repository:

https://github.com/flybd5/ansible-role-aws-rds

### Last modified on:

2020-08-03

### Expected language:

YAML

### Detected language:

Python

[2020-08-02 15:46] flybd5 commented on #4939
* linguist-vendored
*.yml linguist-vendored=false

...in .gitattributes fixed the problem. This tool needs work.

[2020-08-02 15:46] #4939 closed

[2020-08-03 09:45] lildude commented on #4939
It most definitely does, but YAML is considered data by Linguist by default so is _not_ included in the language statistics:

https://github.com/github/linguist/blob/96ad1185828f44bb9b774328a584551ee57ed264/lib/linguist/languages.yml#L6225-L6231

The reason your repo was showing predominantly as Python is because of this file: https://github.com/flybd5/ansible-role-aws-rds/blob/master/filter_plugi

[2020-08-03 11:54] flybd5 commented on #4939
...and that is why the tool needs work, an outright incorrect design assumption. In Ansible, YAML -is- the code. :)

[2020-08-03 16:32] pchaigno commented on #4939
I think I agree with @flybd5. Linguist needs work, like all software :-)

Yes, we're aware of that issue. Ansible YAML is code, but most YAML files are data. We would welcome a PR to differentiate Ansible YAML from other YAML files. In the meantime, please use overrides.

[2020-08-03 16:37] flybd5 commented on #4939
From my point of view, it doesn't make any difference if YAML is being used for data or for code. Correctly representing the content of a repo without requiring the owner of the repo to jump unnecessary hoops is more important. It's all about the user experience vs. the religious preferences of the developer. :)

[2020-08-03 17:21] pchaigno commented on #4939
I agree, but that requires distinguishing some languages and isn't always easy.

Care to detail? :-)

[2020-08-03 17:25] lildude commented on #4939
You effectively did with this line: https://github.com/flybd5/ansible-role-aws-rds/blob/870b418e5d9b544f25299c1f594ee3c105e7a664/.gitattributes#L1

From my earlier response:

[2020-08-03 17:44] flybd5 commented on #4939
The linguist analysis disappeared.

@lildude When I made that change I refreshed my browser page and it did exactly what I wanted it to do. The analysis was then correct. Since then the entire analysis has disappeared.

[2020-08-04 09:23] lildude commented on #4939
The analysis of a repo is performed by a background job that can take some time to run, depending on how busy GitHub's job servers are at the time - they're busier during US work hours than EU mornings so can take longer to run then.

The first change which you say had the desired effect would be due to one of the 6 commits you made to your `.gitattributes` before the final commit which is the one

[2020-08-04 12:18] flybd5 commented on #4939
Thank you for the complete explanation. That accomplished what I wanted. :)

[2020-08-07 13:48] oliviertassinari commented on #4908
I did the same to fix the issue:

[code]

[2020-08-10 08:06] smola commented on #4873
Bump, not stale, there is an active PR.

[2020-08-10 21:28] Goju-Ryu commented on #3665
This feature seems very useful. The statistics have confused me before when one language not in the languages.yml was recognized as 2-3 different unrelated languages.

[2020-08-16 07:44] #4902 closed

[2020-08-16 15:04] iomintz commented on #4884
This issue is still relevant because SQL code still gets dis-detected.

[2020-08-16 22:36] Insanyngame opened #4945 "Coding without jekyll"
I just would want to know if there is a way to program without jekyll library.
I'm doing a project and I can't put a title and logo on the website ( https://insanyngame.github.io ) 's page like this image:
![image](https://user-images.githubusercontent.com/66750166/90345494-6d300080-dff7-11ea-88bd-8b351d1e9727.png)
but it gets:
![image](https://user-images.githubusercontent.com/66750166/90345522-a

[2020-08-17 09:00] Alhadis commented on #4945
Try asking at http://github.community/.

Closing this issue, as it isn't related to Linguist whatsoever.

[2020-08-17 09:00] #4945 closed

[2020-08-17 18:58] JanTheHun commented on #4558
I'm having the same problem. My repo is purely TypeScript but it gets misidentified as JavaScript.

I think I have a valid use case for a TypeScript file to include ```#!/usr/bin/env node``` shebang, it's a CLI that needs to be running from command line. Let me point out the fact that ```.ts``` files are are being transpiled to ```.js``` files, the only - well, the convenient - way to include sheb

[2020-08-19 08:24] smola commented on #4884
@iomintz Could you post some examples of mis-detected SQL?

[2020-08-19 09:02] iomintz commented on #4884
The examples you gave in your OP still hold.

[2020-08-19 13:44] PieterCooreman commented on #4867
Guys please... stale ... what the heck?

This is SUUUUPER crucial if you're serious about MicroSoft technology... I mean, GitHub is OWNED by MicroSoft isn't it? I really don't get why you did get thisn right frm day 1.

No offense. Just super worried and shocked by this lack of professionalism.

[2020-08-19 13:48] lildude commented on #4867
Looks like we're waiting on you 😉

[2020-08-19 13:58] PieterCooreman commented on #4867
I have no clue what to do or where to start... Can you perhaps help me out a little? tx!

[2020-08-19 14:02] lildude commented on #4867
Sure. Have a look at the PR @smola has raised and see if this addresses your concerns. If you spot anything that may need changing or has been missed, comment as such in the PR.

If you're happy, feel free to approve the PR. It won't be merged until one of the other contributors and then me approve it too.

[2020-08-19 16:34] PieterCooreman commented on #4867
Ok thank you! I have approved the suggested changes.

[2020-08-20 08:45] dra27 opened #4950 "Command-line option to list "other"/unidentifiable files"
Using github-linguist 7.9.0 on a whole repository, it would be nice if the output included the files linguist _couldn't_ identify the language of ("other") or even had an option explicitly to list them.

[2020-08-20 09:05] falloutphil commented on #4895
Responding to stale bot - the issue is still as relevant as when I opened it - no solution has been settled on just yet.

[2020-08-20 16:39] abhinavg916 opened #4951 "Inappropriate Amount of Language Detection"
In my repository, [ReactJs-Guide](https://github.com/abhinavg916/reactjs-guide) is showing incorrect percentage of language
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [overri

[2020-08-24 09:05] eps1lon opened #4956 "TypeScript Declaration files considered vendored"
Declaration files that are checked in are usually<sup>1</sup> manually authored and should not be considered vendored.

## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](

[2020-08-24 10:06] lildude commented on #4956
I can't really comment on what the correct behaviour is as I know diddly about TypeScript but what I can say is this behaviour has been in place for over 7 years (intro'd in https://github.com/github/linguist/pull/896) and this is the first time it has come up 😁.

I suspect the original PR was written from the point of view of the consumer and not author of these files.

Is it possible these files

[2020-08-24 16:51] #4873 closed

[2020-08-24 18:22] abhinavg916 commented on #4951
Oh, regex expression was the cause and I was wondering what's wrong with my project.
I have created .gitattributes file and now it shows the correct percentage.
Thanks for the help.

[2020-08-25 12:44] sheerun opened #4966 "Review most popular languages in lib/linguist/popular.yml"
[This file](https://github.com/github/linguist/blob/master/lib/linguist/popular.yml) haven't been update in at least two years and new languages are now popular https://madnight.github.io/githut/#/pull_requests/2020/2 shows that we are missing among others:

- Rust
- Dart
- Kotlin
- Groovy
- Elixir
- PowerShell
- Emacs Lisp
- OCaml
- Erlang

Also it seems some languages are no longer popular, like

[2020-08-25 13:44] lildude commented on #4966
🤔 I'm not sure that file is even used anymore. I'd need to dig through the GitHub.com source code to be sure.

[2020-08-25 15:18] ElmerWu118 opened #4967 "master"
Language

[2020-08-25 15:40] #4967 closed

[2020-08-25 17:33] ElmerWu118 opened #4968 "Github/linguist"

[2020-08-25 18:24] #4968 closed

[2020-08-25 23:23] MiladHassani73 opened #4969 "So, I'm not sure when this happened exactly, but it looks like GitHub is now displaying language colours underneath code-search results as well:"
So, I'm not sure when this happened exactly, but it looks like GitHub is now displaying language colours underneath code-search results as well:

<img src="https://user-images.githubusercontent.com/2346707/67149227-66abfc00-f2f4-11e9-8d2c-891d1ceeca43.png" alt="Figure 1" />

Which is going to leave a lot of grey for `data`/`prose` languages...

_Originally posted by @Alhadis in https://github.com/

[2020-08-26 08:43] lildude commented on #4969
Whoops. I missed that originally.

This happened quite some time ago and is the case in your repo list too. This is expected behaviour.

The reason for the grey (`#cccccc`) is that is the default colour when no colour is associated with a language in [`languages.yml`](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml).

As data and prose languages don't normally appear in t

[2020-08-27 21:48] oliviertassinari opened #4971 "What problem does showing the stats solve?"
This is a broad question that would be great to document. I'm a maintainer of an open-source project, the stats I see reported on the project seem decorrelated to the reality, I'm looking into providing a more accurate presentation of the reality to the developers. However, I'm lacking a critical piece of information. What's the convention? What is commonly accepted as a source of a project?

- Sh

[2020-08-28 08:49] pastra98 opened #4974 "Change gdscript grammar provider"
The repository currently responsible for providing syntax highlighting for gdscript files is broken, and doesn't seem to be maintained. I suggest switching to another repo that is updated more frequently.
## Preliminary Steps

Please confirm you have...
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] reviewed [How Linguist Works](https://github.com/

[2020-08-29 08:41] aaronfranke commented on #4974
When creating a solution to this issue, it should be designed to work with the GDScript rewrite that will be present in Godot 4.0. For more information, see [this PR](https://github.com/godotengine/godot/pull/40598) and [build Godot's master branch](https://docs.godotengine.org/en/latest/development/compiling/index.html).

[2020-08-29 12:09] lildude commented on #4974
@pastra98 please feel free to submit a PR to change the grammar source. Details are in the CONTRIBUTING.md file.

[2020-08-29 12:40] pchaigno commented on #4969
We'll accept addition of colors to `data` and `prose` languages. If you want to fix any of these grey colors, please send a pull request!

[2020-08-29 13:09] Alhadis commented on #4969
[Since when?](https://github.com/github/linguist/blob/c362ab8b3f4f66cbfa7568cf8cb20f7a560de928/test/test_language.rb#L473-L476)

[2020-08-29 13:54] pchaigno commented on #4969
Since now I guess. Given these colors are now displayed, we should allow their addition.

[2020-08-29 14:10] Alhadis commented on #4969
I say we wait for the colour-proximity requirement to be nuked first.

Or better yet, we don't wait and just go ahead and crush it. It'd serve GitHub's design-team right for taking (literally) years to decide if similar-looking colours from two-facelifts ago are still a problem. 😜

[2020-08-29 14:17] pchaigno commented on #4969
Yeah, I agree. It's becoming tiring to have our contributions to this "open source" project blocked by dependencies to GitHub's closed source code. We're giving a lot of our time to a project that GitHub is happy to call "community-driven" when that can reduce the workload while clearly being GitHub-driven in terms of releases & design decisions.

@lildude Please improve this status quo.

[2020-08-29 14:28] pchaigno commented on #4950
I'd welcome a pull request adding such an option.

[2020-08-29 14:31] pchaigno commented on #4895
I think it has been clarified that the solution cannot be a change in Linguist. You might have more luck at https://github.com/github/markup.

[2020-08-29 14:31] #4895 closed

[2020-08-29 16:34] pastra98 commented on #4974
@lildude
Okay, I'll try to set up linguist on my linux machine (I think that will be easier than windows?) after the weekend, but then it should simply be a case of running
`script/add-grammar --replace gdscript https://github.com/godotengine/godot-vscode-plugin
`, right?
The [grammar file](https://github.com/godotengine/godot-vscode-plugin/blob/master/configurations/GDScript.tmLanguage.json) shou

[2020-08-30 10:11] lildude commented on #4974
Yup.

Yup.

NP. 👍

[2020-08-30 10:29] lildude commented on #4969
Ooops. I missed that. 😊

I'm thiiiiiiis close to doing it and dealing with the fallout if and when it happens 😬. If I were to 🔥 it, do we want to allow duplicate colours? I'm thinking not at first as we'll end up with a million identical reds or blues.

I hear you, and I'm in the same boat to a large extent. I'm now a team of one who (informally) maintains Linguist within GitHub and I have nothing

[2020-08-30 10:30] lildude commented on #4506
From https://github.com/github/linguist/issues/4969

I'm thiiiiiiis close to doing it and dealing with the fallout if and when it happens 😬. If I were to 🔥 it, do we want to allow duplicate colours? I'm thinking not at first as we'll end up with a million identical reds or blues.

[2020-08-30 10:35] Alhadis commented on #4969
Yes, of course. Otherwise, we'd end up with squabbles over which language is more deserving of `#f00`, and we'd have no argument to justify this outside of a popularity contest. If a repository has identical-looking shades of red and blue… congratulations, that's what colour-blind users are already seeing. 😉

[2020-08-30 10:51] Alhadis commented on #4956
I'd tentatively leave it as vendored. I also write TypeScript declarations by hand (except when [brutal abuse of JSDoc](https://github.com/Alhadis/Utils/blob/master/index.d.ts) is more fun), and all my projects are vanilla JavaScript — the `.d.ts` files are more of a courtesy to TypeScript programmers. Therefore, I (and presumably other devs) consider them ancillary at best. In other words, for a

[2020-08-30 10:55] Alhadis commented on #4506
I'll copy+paste my [earlier response](https://github.com/github/linguist/issues/4969#issuecomment-68340390) so folks here will see it:

[2020-08-30 11:03] lildude commented on #4506
🤦 Of course. I didn't think about that.

[2020-08-30 11:17] Alhadis commented on #4506
On second thought, let's just get it over with. #4291 will take all of 10 minutes to address, and the changes will be noticed—and warmly-welcomed—by virtually every web developer on GitHub.  Since we're on the verge of a new release, I say: **_LET'S DO THIS SHIT._**

[2020-08-30 12:39] smola commented on #4884
@iomekam There's a pending PR (#4888) that should fix many issues. If you have any specific examples with URLs to files you are interested in, I can look into them.

[2020-08-31 00:07] #4923 closed

[2020-08-31 08:50] Alhadis commented on #4506
Right. Done. See #4978, #4979, #4980.

[2020-08-31 09:23] pastra98 commented on #4974
Thanks, @lildude .Okay, after running the command, I got:
[code]
After which I ran the tests, which got me:
[code]
Is there something wrong with vscodes grammar files? How can I get this to work?

[2020-08-31 10:42] Alhadis commented on #4974
You ran `script/add-grammar` using `sudo`. You shouldn't have needed that — it can affect the permissions of files it creates or downloads, meaning only the superuser can modify them.

That being said, many of the errors you've posted relate to tasks that `add-grammar` was added to automate. You might want to try again with a fresh checkout, and **NOT** switch the grammar with superuser privileges

[2020-08-31 11:13] pastra98 commented on #4974
@Alhadis

Thanks helping me out here. I have run the tests on a fresh checkout again, no failures. And ran `add-grammar` without superuser privileges after adding myself to a docker group. Got me the same result...
[code]
I have no clue... Should the grammar file be named in some special way for this to work?

[2020-08-31 11:37] aeikum commented on #4870
Asdf

[2020-08-31 11:42] Alhadis commented on #4870
@aeikum Could you enlighten us on what `.SC` files are? I googled `SC font file" but it (naturally) brings up results for `small-cap` variants of actual typefaces.

[2020-08-31 11:52] aeikum commented on #4870
I believe they are variants of the font files for different languages. So they're different file types, despite the same final extension. See here: https://github.com/adobe-fonts/source-han-mono/tree/master/Heavy/OTC

J - Japanese, K - Korean, SC - Simplified Chinese, TC - Traditional Chinese. Not sure about HC.

[2020-08-31 12:49] Alhadis commented on #4870
Hong Kong and Taiwan have different variations of traditional Chinese, so TC and HC probably stand for "Taiwan Chinese" and "Hong Kong Chinese", respectively.

Anyway. From what I see in [`adobe-han-mono/Heavy/OTC`](https://github.com/adobe-fonts/source-han-mono/tree/9a10a4fe9797b9777dd9b77cd093e8f76dd55e1d/Heavy/OTC), the `.HC` files are a mix of PostScript (Type 1 fonts, essentially specialised

[2020-08-31 13:17] Alhadis commented on #4974
Oops, I missed that the first time. That shouldn't have happened. 🤔

Most of the VSCode grammar repos I've come across place the `.tmLanguage` file in the root directory, though it's often generated from some other format. I'm not a VSCode user, nor am I an expert on where the grammar-compiler looks for TextMate-compatible grammars in VSCode packages.

The only other thing I can think of is to dou

[2020-08-31 13:38] pastra98 commented on #4974
Hmm, I looked through some of the other repos in `vendors/`, and others do have the tm file in a deeper directory.

Yeah, It's all there, including `configurations/GDScript.tmLanguage.json`.

Unfortunately I don't really know much about shell scripting (windows pleb here), but I looked through `add-grammar` and `grammar-compiler`... Tbh I don't understand much of whats going on there😞

[2020-08-31 13:56] Alhadis commented on #4974
Remove the `.json` part of the filename so its extension is just `.tmLanguage`, then try again.

[2020-08-31 14:57] pastra98 commented on #4974
funny... I forked the vscode repo, renamed, and ran it again... apparently the compiler buggs out when trying to read the comparison operators. Well, first off - here's what the script told me:
[code]
Here's line 93 from the [renamed grammar](https://github.com/pastra98/godot-vscode-plugin/blob/master/configurations/GDScript.tmLanguage):
[code]
Not sure if this is bad design in the vscode repo, or

[2020-08-31 14:57] geraldelorm commented on #4229
Thank you

[2020-08-31 15:21] Alhadis commented on #4974
Ugh, sorry. I forgot `.tmLanguage` is actually an XML-based format; the JSON extension I was thinking of was actually [`.json-tmLanguage`](https://github.com/github/linguist/blob/cc3e174d2becfde6fa4b36f7793e1d47c0a1370f/lib/linguist/languages.yml#L2420). In any case, [here's what/where](https://github.com/github/linguist/blob/cc3e174d2becfde6fa4b36f7793e1d47c0a1370f/tools/grammars/compiler/loader.

[2020-08-31 15:56] pastra98 commented on #4974
Holy macaroni, that worked! Thank you so much @Alhadis ! I made the directory, and it did not complain! But the tests were complaining about qsharp for some reason, lol:
[code]
Well, I ran the tests before changing the grammar- No issues. But before that I tried it with the atom plugin, which also worked out, and gave me the same issue with qsharp. Pretty sure this is an unrelated bug.

Anyhow, I'

[2020-08-31 16:00] Alhadis commented on #4974
Yes, but there may be config files that need updating if the grammar file is moved. I'm sure they'll let you know. 😉

[2020-08-31 17:14] smola commented on #4930
Bump.

[2020-08-31 17:18] smola commented on #4870
Note that there was quite some discussion about font files: https://github.com/github/linguist/issues/2516

[2020-08-31 17:30] Alhadis commented on #4870
That issue's from early/mid 2015. Barely any of it is relevant anymore — several missing font formats were added by yours truly, and being the resident font-nerd, I'm always eager to add support for a font format. 😉

[2020-08-31 17:45] smola opened #4982 "Proposal: Make triaging more welcoming to external contributors"
I've contributed on and off to linguist since 2017 and over time I've observed a quite frustrating pattern with issues and pull requests: legitimate issues and pull requests get labelled quite quickly as stale (30 days) and then closed (60), with no further option to reopen them.

I understand that this workflow may be convenient for maintainers, but it seems discouraging in a few ways:

- For a c

[2020-08-31 20:56] sheerun commented on #4966
@lildude For sure in "Written in this language" advanced search option

[2020-08-31 21:11] aBARICHELLO commented on #4870
[Advanced search](https://github.com/search?q=.SC+extension%3A.SC&type=Code&ref=advsearch&l=&l=) returned hundreds of results for .SC files being identified as Scala. .HC is harder to find.

[2020-08-31 21:43] Alhadis commented on #4982
This issue has been automatically marked as stale because it has not had activity in a long time. If this issue is still relevant and should remain open, please reply with a short explanation (e.g. "I have checked the code and this issue is still relevant because ___."). Thank you for your contributions.

[2020-08-31 21:44] Alhadis commented on #4982
Kidding.

😜 I think we should torch the annoying robot for good, possibly encasing its corpse in cement so it doesn't come back as a zombie.

Since I'm not the one in charge of making that decision, though, I agree that PRs deserve a longer grace period. Hell, we probably shouldn't close them at all — if a PR needs changes, and the submitter's become unresponsive, it's easier if a maintainer just

[2020-09-01 08:36] pastra98 commented on #4974
Okay, I looked through the atom repository and tested it out with the atom editor. And it works quite well with the current version of gdscript. I figure this will be easier than making the changes to the vscode repo. I looked at the files that would need to change there, and because the rest of the files in `/configurations` don't have anything to do with grammar itself- it would'nt make sense to

[2020-09-01 09:22] #4930 closed

[2020-09-01 09:59] #4291 closed

[2020-09-01 10:15] #4506 closed

[2020-09-01 13:46] lildude commented on #4982
I'm happy to tweak things or remove the bot entirely. As detailed in the [original PR](https://github.com/github/linguist/pull/4311), I started off with the default values with the intention of iterating. I originally implemented it to reduce the manual churn and huge amount of time @pchaigno was spending poking old issues and PRs that would never see any action.

We can do this now, but don't 😄 A

[2020-09-01 15:36] lildude commented on #4966
Yup. Looks like it is definitely still used. I'll update the list.

[2020-09-01 15:37] #4867 closed

[2020-09-01 16:27] lildude commented on #4899
https://github.com/github/linguist/pull/4915 has been merged. Closing.

[2020-09-01 16:27] #4899 closed

[2020-09-02 07:00] Alhadis opened #4990 "Suggestion: Move all grammar-related metadata to `grammars.yml`"
Currently, metadata pertaining to grammars and case-by-case exceptions are handled in four different places:

* [`.gitmodules`](https://github.com/github/linguist/blob/b7f579597050aaf7ac19c6c6ec504253a577ff13/.gitmodules) specifies URLs.
* [`grammars.yml`](https://github.com/github/linguist/blob/b7f579597050aaf7ac19c6c6ec504253a577ff13/grammars.yml) specifies scopes.
* [`tools/grammars/compiler/da

[2020-09-02 07:58] pastra98 commented on #4990
That would be pretty cool, actually! Maybe as a flag with the `add-grammar` script to specify the path?

[2020-09-02 08:07] Alhadis commented on #4990
No need. Most of the time, the files are located somewhere predictable. Atom actually *forces* you to place them in the `grammars` directory, and limits you to JSON or CSON (a cleaner alternative to JSON) (it also imposes a bunch of other myopic, insane restrictions which I won't go into here).

[2020-09-02 08:13] pastra98 commented on #4990
Ah okay... So it's not that many repos that are structured differently. But I could add a `source: ` field to the `grammars.yml` manually, if need be?

[2020-09-02 08:38] #4966 closed

[2020-09-02 09:06] Alhadis commented on #4990
This is more of an RFC to discuss a *potential* enhancement to Linguist. The changes involved are many, and they touch lots of different components that behave similarly, but operate independently.

In other words, there's nothing you need to worry about WRT to your PR. 😉

[2020-09-02 09:13] Alhadis commented on #4971
None. People like knowing what technologies were involved in the creation of a project. Myself included.

[2020-09-02 09:25] pastra98 commented on #4990
I get that, I was trying to understand how you envision this to work from a users perspective haha

[2020-09-02 09:36] Alhadis commented on #4990
The `add-grammar` script would support an optional `-f`/`--file` switch to specify the location of a grammar file, but that's about it. Usage would be something like `--file hy.json` or `--file ./hy.json` or even

	--file https://github.com/Slowki/hy.tmLanguage/blob/master/hy.json

since users will try all sorts of things, and it's better for a program to be maximally permissive about what input i

[2020-09-04 15:56] lildude opened #4995 "Several classifier is throwing exceptions on GitHub.com staging"
This is a tracking issue for my own purposes.

Whilst testing a deployment of v7.11.0 on GitHub staging, I discovered the linguist classifier is throwing an exception. I saw this locally when testing and put this down to something wrong with my local env as our CI wasn't failing at all, but this clearly isn't specific to me.

The failures I am seeing when running the test locally are:

[code]

The

[2020-09-04 16:21] lildude commented on #4995
🤦 well that's embarrassing. This _is_ due to my local env after all. The problem doesn't exist if I perform a fresh clone of the repo. I suspect something went awry with building the tokeniser in my original repo that has caused the problem. Back to normal service.

[2020-09-04 16:21] #4995 closed

[2020-09-04 17:12] ethanboxx opened #4996 "Rust repo misclassified as RenderScript"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-06 08:21] pchaigno commented on #4884
#4888 has been merged. Can this be closed?

[2020-09-06 08:50] smola commented on #4884
@pchaigno Yes, I think so. There is still the open question about creating a language group for SQL. Maybe we could reconsider this depending on follow up issues in the months after v7.11.0 deployment at GitHub?

[2020-09-06 09:00] smola commented on #4971
Depending on what's your end goal and how you model the problem, you'll probably need to work on better representations of code size (e.g. [sloccount](https://dwheeler.com/sloccount/), [cloc](https://github.com/AlDanial/cloc)) and categorizing code (production code, tests, examples, build system, etc). If you're looking at language evolution, you'll probably want to model diffs to capture the sign

[2020-09-06 09:06] oliviertassinari commented on #4971
My end goal is to deeply understand the problem GitHub language stats are solving for the developers. Why it was introduced by GitHub. With this information, I can make sure the project I'm working on is correctly configured, configured to match with the original objectives of GitHub for sharing language stats.

[2020-09-06 09:53] XusinboyBekchanov opened #4997 "FreeBasic repo misclassified as VBA"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-06 10:32] pchaigno commented on #4884
:+1:

[2020-09-06 10:32] #4884 closed

[2020-09-06 12:36] smola commented on #4997
@XusinboyBekchanov Maybe you can contribute a pull request? See [CONTRIBUTING.md](https://github.com/github/linguist/blob/master/CONTRIBUTING.md). Regular expressions for disambiguations are added to [heuristics.yml](https://github.com/github/linguist/blob/master/lib/linguist/heuristics.yml). [New samples](https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-an-extension-to-a-lang

[2020-09-06 13:25] XusinboyBekchanov commented on #4997
I added pull request for languages.yml.

[2020-09-06 18:41] smola commented on #4996
Your `examples` directory is ignored by linguist since it's considered documentation. You can override this behavior ([docs](https://github.com/github/linguist#documentation)). The only detected file is `src/main.rs` Given its length, it's going to be hard to get linguist to classify it correctly. You can also override this ([docs](https://github.com/github/linguist#using-gitattributes)).

In shor

[2020-09-06 22:30] ethanboxx commented on #4996
Thank you very much for your detailed help. This `gitattributes` setup 100% fixed my issue so I will close this.

[2020-09-06 22:30] #4996 closed

[2020-09-07 09:21] lildude commented on #4971
Woah! Good luck! 😆 You're asking a lot for some of the oldest code on GitHub.

This functionality was initially implemented in the main GitHub repo waaaay back in 2008 by `@defunkt`, long before pull requests, so any information about the whys not written in commit messages is lost to time.

The initial purpose of what is now Linguist was language detection and this is still reflected in the purpo

[2020-09-07 10:36] oliviertassinari commented on #4971
Awesome thanks

[2020-09-07 10:36] #4971 closed

[2020-09-08 09:16] lildude commented on #4613
https://github.com/github/linguist/pull/4687 has ben merged. Closing.

[2020-09-08 09:48] kachkaev commented on #4613
@lildude glad to see the official Dockerfile! It'd be great if it could be published on Dockerhub (https://hub.docker.com/) for ease of access. Pretty much all dockerised projects share their images this way. Until that's done, using linguist via docker in CI is still challenging – one needs to create a non-official image, publish it and only then use.

It'd be great if we could keep this issue op

[2020-09-08 09:57] lildude commented on #4613
As I [mentioned before](https://github.com/github/linguist/issues/4613#issuecomment-522920653), I'm reluctant to publish a formal image and the state of Linguist's internal ownership is still in flux so I'm not likely to get sanctioning any time soon.

I'll re-open the issue for tracking, but don't expect this image any time soon.

[2020-09-08 18:46] pastra98 commented on #4974
Okay, thanks to @Razoric480 and @Calinou the vscode repository was updated, and the `tmlanguage` file is now in the `/syntaxes` folder. I deleted the branch that I used to change to the atom repository in the previous pull request. I think everything should be working now...

[2020-09-08 20:31] wopian commented on #4969
I think this can be closed now with https://github.com/github/linguist/pull/4980 deployed in https://github.com/github/linguist/pull/4993 👍

![image](https://user-images.githubusercontent.com/3440094/92524615-4e99df80-f21a-11ea-92ac-5eb51bffa49b.png)

[2020-09-08 21:24] wopian opened #5002 "Override language grouping in gitattributes"
Related to https://github.com/github/linguist/issues/4245, https://github.com/github/linguist/issues/4506 and https://github.com/github/linguist/issues/4593

## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x]

[2020-09-08 23:07] wopian opened #5003 "List of languages without a colour"
Continuing from #4506. 49% (280) languages currently do not have a language assigned and show as grey (a lot of these are grouped languages that GitHub shows ungrouped in search results).

List generated with https://gist.github.com/wopian/8639e5d24119cbd99548b73c18321686

## Early Sidenotes

- Languages without a logo or no other clear branding are being skipped.

- If the language has no logo an

[2020-09-10 01:02] wopian commented on #5003
Added C to D

[2020-09-11 07:41] smola commented on #5003
Gentoo Ebuild/Eclass could be`#9400FF` (source: [gentoo.org](https://www.gentoo.org/). AFAIK that's the primary color, while there's a secondary green.

[2020-09-12 23:10] wopian commented on #5003
Added E, F and Gentoo Ebuild/Eclass

[2020-09-13 11:54] smola commented on #4995
@lildude I'm experiencing this when using linguist as a library:

[code]

Example file: https://github.com/smola/language-dataset/blob/master/data/github.com/AJMartel/IRTriage/edfc35dde062c32bd4e03deb821c88ed6fc65d83/Compile/Tools/Updater/My_Github_Updates_Calculator.au3

[2020-09-13 22:31] smola commented on #4908
Bump, since there's an open PR.

[2020-09-13 23:19] Shoelace commented on #4884
sorry i'm a bit late.. but i am happy with all of the merged changes.
i agree that error on the side of  generic SQL is preferable to choosing a wrong dialect.

[2020-09-14 15:19] Haroenv commented on #5003
- [ ] GAMS `#F39619` or `#2b1a02` (source: [logo](https://www.gams.com/img/gams_logo.svg))
- [ ] GAP `#0000ff` or `#ccffff` (source: [site](https://www.gap-system.org), probably too bright)
- [ ] GCC Machine Description ?
- [ ] GDB ?
- [ ] GEDCOM ?
- [ ] GLSL `#5586A4` (source: [openGL brand](https://www.khronos.org/legal/trademarks/))
- [ ] GN ? maybe ninja logo?
- [ ] Genshi `#b00` (source: [sit

[2020-09-14 16:03] v4hn opened #5008 "Starlark overrides simple bash/sh scripts"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-15 12:48] borisimple opened #5010 ".al files are associated with Perl, and not the AL language (D365 BC)"
All repositories on the GitHub with Dynamics 365 Business Central projects, will show that the language used is Perl, and not AL.

Under you will find only one example, but literally every repository is affected. -> [Waldo repo](https://github.com/waldo1001/waldo.restapp)

Based on [#2362](https://github.com/github/linguist/issues/2362), .al extension is used for *Perl autoload files*.

#### Expec

[2020-09-15 13:48] Alhadis commented on #5010
@borisimple Could you include some links to AL language documentation? That way we'll have something to use when filtering search results to determine whether it's eligible for support by GitHub/Linguist.

[2020-09-15 14:46] borisimple commented on #5010
@Alhadis [Here's the link](https://docs.microsoft.com/en-us/dynamics365/business-central/dev-itpro/developer/devenv-reference-overview)

[2020-09-15 14:54] Alhadis commented on #5010
Thanks. I also found the [relevant repository](https://github.com/microsoft/AL) on GitHub, which provides a syntax highlighting grammar we can use (provided it meets eligibility).

[2020-09-15 15:01] Alhadis commented on #5010
Ugh, I didn't notice that [we already support it](https://github.com/search?l=AL+Code&q=extension%3Aal+NOT+nothack+codeunit&type=Code) (I assumed the highlighting was coming from the Perl grammar…) That'll teach me for being lazy. 😅

In that case, we can solve this by adding a heuristic to match commonly-used AL constructs; [`codeunit`](https://github.com/search?l=AL+Code&q=extension%3Aal+NOT+noth

[2020-09-15 15:10] borisimple commented on #5010
Hmm, it seems that I did not research it well, as somebody already did this a few days ago!

**Add Microsoft AL Code Language #4916**

[2020-09-15 15:14] Alhadis commented on #5010
Currently, the AL language entry is named **AL code**, which sounds redundant. Should we rename it to simply **AL**…?

[2020-09-15 15:15] borisimple commented on #5010
I think that would be great!

[2020-09-16 12:39] XusinboyBekchanov commented on #4997
https://github.com/github/linguist/pull/4998

[2020-09-16 21:03] wopian commented on #5003
Added G, H, I and J. Incorporating suggestions from @Haroenv

[2020-09-16 22:28] Alhadis commented on #5003
What logo? Neither Ninja nor GN have logos of their own. I made [this one](https://github.com/file-icons/icons/blob/76bd3c4f8b5be540b47771b0d53e6a435425c4c2/svg/GN.svg) several years back for the `file-icons` project, but it doesn't have a colour. Though I'd say deep, dark blue would be the appropriate colour for evoking midnight-draped *shinobi*. 😉

IMHO, grouped languages should inherit the colo

[2020-09-16 22:32] Alhadis commented on #4870
Well, if you or anybody else is interested, [here's an (unsorted) stash](https://github.com/Alhadis/Silos/tree/ffec3870d28b3984cee3533fb1f2f7712943af86/files) of `.sc` files harvested from search results. They don't appear to have much (or anything) in common... 😕

[2020-09-16 22:38] Alhadis commented on #5002
It's frustrating, I know, but it wouldn't be worth adding a feature to Linguist to solve a problem it has nothing to do with anyway.

I hear ya. Try ~~spamming 'em with support tickets over and over, each year~~ [github.community](http://github.community/), which might grant more visibility to the issue.

Man, just imagine all the problems we could fix with PRs if GitHub was, uh, literally open-so

[2020-09-16 23:53] wopian commented on #5003
I used the PostScript colour on Linguist as Adobe Postscript's logo was on both (that and Adobe Font Metrics) specification PDFs in greyscale.

I presumed they were the same shade of red but I guess it turns out Adobe's logo is brighter than Adobe PostScript's Linguist colour - likely a result of the axed colour similarity check 👀

The grouped data is extracted from `languages.yml`, but yeah I too

[2020-09-17 00:09] Alhadis commented on #5003
Yup. Back in the day, Adobe's branding used a darker shade of red that matched PostScript's. They brightened that at some point in the last 30 years, but since PostScript's no longer an actively supported product, it still uses the old branding colour.

In any case, PostScript and GBDF have very, very little in common, so it's probably better to use a different colour anyway. 😁

This might warrant

[2020-09-18 14:16] ib opened #5012 "Detected language depends on file length or amount of data?"
This seems arbitrary and ridiculous:

`#ifndef FOO_H
#define FOO_H

static const struct foo
{
  int foo1;
  int foo2;
  int foo3;
}
foos[] =
{
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0000, 0x0000, 0 },
  { 0x0

[2020-09-19 09:55] smola commented on #5012
Yes. Linguist has a set of heuristics to identify a language. When all heuristics fail, it falls back to a Bayesian classifier which performs poorly on short files, and in particular .h files.

There is an open discussion to improve this for C, C++ and Objective-C: https://github.com/github/linguist/issues/1626

[2020-09-19 12:27] leoluk opened #5013 "Add support for Cuelang"
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([ling

[2020-09-19 12:36] ib commented on #5012
It actually seems to perform worse the longer the file is. The short file is recognized correctly.

I wonder why in case of doubt it is not C that is recognized, especially since there is not a single Objective-C keyword in the file. Why does Objective-C take precedence over C (which is the more likely)?

[2020-09-19 13:28] smola commented on #5012
@ib That's likely to be a problem with the Bayesian classifier, which is trained with a very small dataset. If Objective-C samples in linguist dataset have more `{` or `}` characters than C samples, that would make it classify as Objective-C if these characters are the majority token in the file. It's just a glitch in how the current classifier estimates probabilities, not an explicit design choic

[2020-09-19 18:52] smola opened #5014 "XML files from Katalon Studio (.rs extension) are misidentified"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-20 14:53] smola commented on #5008
@v4hn Starlark is the language used by Bazel. Linguist currently classifier `BUILD` files as Starlark without running any further heuristic.

You can override this with a single .gitattributes file in your repos: https://github.com/github/linguist#overrides

[2020-09-20 19:00] v4hn commented on #5008
Thanks for the pointer @smola !
The better solution would be to look *into* files instead of deciding based on a plain file name without extension. :-)

[2020-09-21 03:57] mishraaditya595 opened #5016 "XML should be counted as a language used in the repo"
In a repository, under the language section, XML is not considered.

## Problem Description
XML-layout files play a significant role in Android projects. When layout is created in Java or Kotlin, it's counted, and when in XML, it is not considered. Maybe one could open a pull request with Android View XML (that way we could count those XML files only) as a new language to initiate discussion.

###

[2020-09-21 07:28] nikodemus commented on #3665
Just noting that I changed the repository above to lie to Linguist, claiming my toy language is Smalltalk - because the portion of the unreported files started getting on my nerves. (It's not, and the syntax highlighting doesn't work right, but ... meh.)

Which spurred me to take another try on this windmill.

One option that should be simple from what I understand of how linguist is structured wo

[2020-09-21 10:35] lildude commented on #4995
@smola This doesn't look like a new issue with Linguist and I believe such a failure has always existed.

Your example is failing because there isn't, and never has been, an `AutoIt` sample for the classifier to run against.

Under normal usage, we'd never get to the classifier in this instance as the extension strategy only returns a single entry so we'd never move on to the classifier thanks to:

[2020-09-21 10:40] lildude commented on #4995
Yup, I've just done a quick test with random versions of Linguist going back to 5.0.0 and your code always fails in exactly the same way because of the lack of an `AutoIt` sample.

[2020-09-21 10:49] lildude commented on #5016
This is expected as XML is and has always been considered data by Linguist.

I don't think we need to do this as I believe these files are really just plain old XML.  If you really want them to count in your language stats, you can force this by using the [`linguist-detectable`](https://github.com/github/linguist#detectable) override.

[2020-09-21 11:42] lildude commented on #5010
Yup, and it's already live on GitHub.com

This will be because the repo hasn't been touched since support was added. We do not go back and reassess every repo when we make a new Linguist release as it would be incredibly resource intensive for little gain. That, and any other AL repo, will be re-analyzed the next time a change is pushed.

[2020-09-21 11:42] #4974 closed

[2020-09-21 11:47] borisimple commented on #5010
@lildude

This makes sense now. Thanks for the feedback.

Although it would still be nice that extension is called "AL" only instead of "AL Code" 😏

I am closing this issue now.

[2020-09-21 11:47] #5010 closed

[2020-09-21 12:56] Floffah opened #5017 "Add support for confuscript"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-22 08:04] NEGU93 commented on #3737
But how long does it take? I did my commit [yesterday](https://github.com/NEGU93/cvnn/commit/891d3e1dcca9c55aa16939a1ab38cc0826a4ef21) to avoid everything inside the docs file with the line `docs/** linguist-vendored=true` and it stills says my code is HTML and less than 10% Python (it is 100% Python btw).

[2020-09-22 08:24] lildude commented on #3737
@NEGU93

Normally a few minutes at most, but can take a few hours depending on how busy things are, eg US West Coast working hours are much busier than European hours.

First off, you don't need the `=true` part any more, but there's no harm keeping it.  Your change _has_ taken effect too.

The reason your repo is still showing such a high HTML content is because of one massive file you're _not_ i

[2020-09-22 08:56] NEGU93 commented on #3737
Ups, I had not seen that file before, it is fixed! sorry about that (PS: didn't know about that `github-linguist . --breakdown` command, very helpful).

[2020-09-22 17:57] midgleyc opened #5022 "ASH scripts misidentified as AGS"
ASH is a currently unrecognised language used for scripting KoLMafia, a program for playing the online game "Kingdom of Loathing". There is documentation available at the [KoLMafia wiki](https://wiki.kolmafia.us/index.php?title=Main_Page). It seems quite popular throughout GitHub -- [here's a search for a commonly used global function, "get_property"](https://github.com/search?p=65&q=extension%3A.

[2020-09-26 11:01] smola commented on #5022
@midgleyc ASH might be a bit confusing (ash as in Almquist shell might be better known than KoLMafia). Do you think `KoLMafia ASH` would be a good name for the language?

[2020-09-26 11:42] midgleyc commented on #5022
Sounds good to me, nice and descriptive.

[2020-09-26 12:50] smola commented on #5022
By the way, I didn't get proper stats, but this is common enough that the vast majority of `.ash` files retrieved by my sample harvesting scripts were ASH, not AGS Script.

[2020-09-28 15:44] myitcv opened #5026 "Go file incorrectly classified as generated"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-29 10:19] lildude commented on #5026
If you've got the bandwidth, we'd appreciate a PR that updates the current usage and adds support for the new usage.

[2020-09-29 10:24] myitcv commented on #5026
Unfortunately not right now.

I think some judgement call needs to be made as to when to switch over to this new approach. I'd even suggest using some real numbers by scanning GitHub repos to work out how many files/projects etc would be impact by the switch from current implementation to "correct" Go approach, and then "correct" Go approach to "new" Go approach (assuming this is how you would pha

[2020-09-29 10:38] lildude commented on #5017
As per the CONTRIBUTING.md, we require wide usage of a language before adding support:

"hundreds or repositories" is accepted as over 200 unique user/repo repositories.

As your language is very new, and from the comment on the repo, appears incomplete, it probably doesn't have wide-enough real-world usage for inclusion right now. Accordingly, I recommend we close this issue and you track usage o

[2020-09-29 10:52] #4951 closed

[2020-09-29 11:18] iotstudent commented on #4229
Thanks for this explanation

[2020-09-29 17:55] jangorecki opened #5028 "Misclassified C as C++ in data.table project"
This repository does not use any C++ code but some header files are classified as such:
https://github.com/Rdatatable/data.table
It is strange that h files are not considered as C unless C++ syntax is detected inside, I think that should be the default option.
I would appreciate fixing it.

[2020-09-29 18:24] Floffah commented on #5017
Oh okay thank you

[2020-09-30 16:03] nrlquaker opened #5031 "Files are detected under linguist-detectable=false folder"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-09-30 19:46] sdegutis opened #5032 "Multiple language support"
I'm coming here from finding out that GitHub comments [use Linguist](https://docs.github.com/en/free-pro-team@latest/github/writing-on-github/creating-and-highlighting-code-blocks) both for figuring out what language is used in a code block, and for determining what syntax highlighter to use for it. But I think it would be handy to have a diff that shows both the code and diff highlighting. For ex

[2020-09-30 21:20] Alhadis commented on #5032
Your best bet is to [contact support](http://github.com/support) and submit a feature request, as this isn't something Linguist has any control over.

I recall some other sites supporting fenced diff-blocks using the syntax:

[code]

Which I'm sure every GitHub user would love to have — myself included. 😉

[2020-09-30 21:20] dillonledoux opened #5033 "File Type Not Recognized Locally Even After Edit to languages.yml"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-01 09:41] lildude commented on #5033
It's because you're attempting to identify/assign a language to a binary file. Linguist deliberately ignores binaries as they're not code and thus not readable with something like a text file viewer or a browser.  Your additions for non-binary files should however work as expected.

[2020-10-01 09:57] lildude commented on #5031
Your override is as follows:

[code]

The `*` limits the scope to only files within that directory because (taken from the [.gitignore docs](https://www.git-scm.com/docs/gitignore)):

A little further down you'll see your solution:

[2020-10-01 10:05] nrlquaker commented on #5031
Thanks, @lildude. Tried locally and the problem is fixed.

[2020-10-01 13:31] #5017 closed

[2020-10-01 14:15] sdegutis commented on #5032
Cool thanks 👍

[2020-10-01 14:15] #5032 closed

[2020-10-01 15:45] dillonledoux commented on #5033
That's what I was afraid of.  I guess the override will be the solution here.  Thank you for taking a look!

[2020-10-01 15:45] #5033 closed

[2020-10-01 17:00] smola commented on #5026
I think supporting the "old" Go approach is enough. Linguist needs to work on real code, which includes a lot of old code. `^// Code generated .* DO NOT EDIT\.$` would work both for the current and amended version, right?

[2020-10-01 17:01] smola commented on #5028
@jangorecki This is a known problem: https://github.com/github/linguist/issues/1626

You can workaround it by overriding the language of `*.h` files in the repository with `.gitattributes`: https://github.com/github/linguist#overrides

[2020-10-01 17:12] jangorecki commented on #5028
I think it should work other way around. *.h classified as C but actually being C++, those should require workarounds.

[2020-10-01 23:13] wopian commented on #5003
Added K and L and changed the Adobe languages to use Adobe's branding instead of Adobe PostScript.

Should I open another issue to get discussion going for this? Since the group associations are in the Linguist YML file and out of scope for this issue.

I'm somewhat conflicted on this but more skewed to only using the parent if there's no suitable colour/branding for the sub-language. Django, Embe

[2020-10-02 07:25] smola commented on #5028
@jangorecki I agree. But there's some technical limitations that need to be solved before that's possible. There's a lengthy discussion about it at #1626. Short-term, overriding with `.gitattributes` is the only solution.

[2020-10-02 16:47] JT0407 opened #5038 "It's because you're attempting to identify/assign a language to a binary file. Linguist deliberately ignores binaries as they're not code and thus not readable with something like a text file viewer or a browser. Your additions for non-binary files should however work as expected."
It's because you're attempting to identify/assign a language to a binary file. Linguist deliberately ignores binaries as they're not code and thus not readable with something like a text file viewer or a browser.  Your additions for non-binary files should however work as expected.

_Originally posted by @lildude in https://github.com/github/linguist/issues/5033#issuecomment-702018048_

[2020-10-02 16:51] #5038 closed

[2020-10-03 08:33] serkonda7 opened #5039 "vsh files have GLSL as associated language"
## Preliminary Steps

Please confirm you have...
- [x ] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [ x] verified an issue has not already been logged for your issue ([

[2020-10-05 09:07] myitcv commented on #5026
Correct, it would.

But at some point we should move to the new definition. Otherwise, "bad" code generators will never get fixed. Fixing "bad" code generators has a derivative benefit for other tools which rely on things be correctly "marked" too.

But I agree, there needs to be an evidence-based judgement call made on when to switch.

[2020-10-05 09:30] nrlquaker commented on #5031
Event its ok when I run `github-linguist --breakdown` locally, on GitHub report still haven't changed. Last commit was 4 days ago.

[2020-10-05 09:30] lildude commented on #5039
Looks like we have two possible solutions to this:

1. Add the `.vsh` to the V language entry and add a heuristic to differentiate it from GLSL (the only language `.vsh` is currently associated with)
2. Add `v` as an interpreter for V as that's how the `.vsh` script seems to be using it.

We'd certainly welcome a PR to do one or both of these.

[2020-10-05 09:31] lildude commented on #5031
What make you think GitHub isn't acknowledging it?

[2020-10-05 09:34] nrlquaker commented on #5031
Because when I press on `Shell` languages I see [files](https://github.com/nrlquaker/winbox-mac/search?l=shell) from `linguist-detectable=false` folder.

[2020-10-05 09:38] lildude commented on #5031
That's expected 😁  What you're looking at are the search results (note the URL). These are completely independent of Linguist and deliberately do _not_ acknowledge the Linguist overrides in `.gitattributes` because if it did, you'd never be able to search for your files.

I can assure you though that Linguist is definitely only counting the files you expect it to, ie it is only counting these thre

[2020-10-05 09:41] nrlquaker commented on #5031
Oh. I got it. Thanks for clarification.

[2020-10-05 09:41] #5031 closed

[2020-10-06 08:03] smola commented on #5026
Linguist supports a lot of historic constructs. Otherwise, it would stop detecting old files. Some users run linguist with all files in git history. Actually that was my first linguist use case: detecting language of all files in all GitHub repositories for every commit. I think there are still a few large-scale users doing exactly this.

[2020-10-06 08:08] myitcv commented on #5026
Then perhaps there needs to be a `-legacy` flag or equivalent? If GitHub detects a file as "generated" but others tools do not (because they have moved to the new definition) then that also raises a question for users.

To give some context, 0.825% is presented in https://github.com/golang/go/issues/41196 as an indication of how many files need to be updated, so we're not talking big problems here

[2020-10-07 08:36] lildude commented on #4990
This sounds like an interesting idea, though is likely to be a lot of work. Is all that work really worth the effort for the few corner cases not correctly handled now?

Without thinking too hard about it, a few quick points come to mind:

- we won't be able to remove the dependency on submodules unless you implement a script to do the downloading and updating... which would be reinventing what gi

[2020-10-07 08:42] lildude commented on #4969
Colours are now slowly being updated and filtering through so I'm closing this issue.

[2020-10-07 08:42] #4969 closed

[2020-10-08 05:59] miladsalimiiii commented on #542
Similar issue with this repo: https://github.com/miladsalimiiii/android-mvvm-clean-architecture-dagger-hilt-coroutines

[2020-10-08 08:30] lildude commented on #542
@miladsalimiiii looks like you've got languages detected now and it won't be because of your `.gitattributes`. In your case, it appears to have taken a while for the background job to run.

[2020-10-08 09:03] miladsalimiiii commented on #542
@lildude ,Thanks to you , in my previous repository i did not add` .gitattributes` and they show the language but in my new repo i had to add `.gitattributes`.
You mean if i does not add it , it is going to show after a while  , is this process of **github**?

[2020-10-08 09:08] lildude commented on #542
Yes. From the README at https://github.com/github/linguist#how-linguist-works-on-githubcom:

[2020-10-09 13:02] cbj4074 commented on #4950
Given that tools such as StyleCI require the "Pro" plan to analyze repositories that include more than one language -- and, apparently, `Other` counts as a second language -- it's frustrating not to be able to determine which files are categorized as such. I would likewise welcome such an option.

[2020-10-10 07:10] secworks opened #5041 "Coq still misinterprets Verilog as Coq"
Coq sometimes misinterpret Verilog HW description language files as being Coq prover language files.
There has been a number of issues opened related to this. But all of them has been closed without a fix.
https://github.com/github/linguist/issues?q=is%3Aissue+verilog+coq+is%3Aclosed

And the issue still persists and is (probably increasing) due to the trend towards open hardware design.
As an exa

[2020-10-11 05:43] cwfitzgerald opened #5042 "Add language: ISPC"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-12 08:18] lildude commented on #5042
That'll be because no one has submitted a PR to add support 😉 .   If the usage of either or both extensions meets our inclusion requirements detailed in the CONTRIBUTING.md file, please feel free to submit a PR to add support.

[2020-10-12 08:26] lildude commented on #5041
As mentioned in at https://github.com/github/linguist/issues/4750#issuecomment-567083122: this will be because the heuristic isn't precise enough and would need tweaking by someone that knows the languages involved.

https://github.com/github/linguist/pull/4751 was an attempt at improving things, but it went stale /cc @0x00a1e9

If you've got the bandwidth and knowledge of either/both of these lan

[2020-10-12 08:58] secworks commented on #5041
I do know Verilog. But someone else must provide knowledge for Coq.
That said, it should be really easy if linguist can parse words.

Verilog files will normally contain a "module"-"endmodule" pair.

Browsing the Coq language, these words are not part of the language.
On the other hand, Coq contains a "::=" operator that would be a syntax error in Verilog.
The Coq operators "<+" and "<-" would als

[2020-10-12 09:19] softmarshmallow commented on #3229
Why would we do this? I'de like to exclude submodule's language on my repository. written module ts -> dist gives js, whole repository telling that it's js. (*R*)

[2020-10-12 09:41] lildude commented on #3229
@softmarshmallow This is already the case. Submodules are _never_ considered when assessing a repository's language statistics. If you're seeing unexpected languages, it's likely some other file(s) within your repo is being incorrectly detected. Feel free to open a new issue and we can help you identify the responsible files.

[2020-10-12 09:44] softmarshmallow commented on #3229
@lildude  Hi, thanks. could you take a quick look? I think it's a bug. when i click js, no files will appear.
It was 100% ts, after adding submodule it got js.

https://github.com/bridgedxyz/assistant

Just to confirm the case. once confirmed, I'll open a new issue.

[2020-10-12 09:45] lildude commented on #3229
Can you please open a new issue so keep that discussion separate from this issue.

[2020-10-12 09:46] softmarshmallow opened #5043 "Submodule somehow affects language percentage"
I think it's a bug. when i click js, no files will appear.
It was 100% ts, after adding submodule it got js.

https://github.com/bridgedxyz/assistant

Just to confirm the case. once confirmed, I'll open a new issue.

![image](https://user-images.githubusercontent.com/16307013/95731907-0a877800-0cbb-11eb-9341-cb0ea914a02a.png)

[2020-10-12 09:47] softmarshmallow commented on #3229
@lildude #5043 thanks.

[2020-10-12 10:05] lildude commented on #5043
Thanks for opening a new issue @softmarshmallow

In the time, I've cloned your repository and I can confirm this isn't a Linguist issue, nor is it due to your addition of a submodule.

From your repo, I can see the submodule you've added is at the path `packages/flutter-builder`.

If I perform an analysis of your repo, we can see these files are responsible for the Javascript in the stats:

[code]

[2020-10-12 10:07] softmarshmallow commented on #5043
Oh, I see. sorry to waste your time. really sorry. Thanks for helping me out!

[2020-10-12 10:07] #5043 closed

[2020-10-12 10:10] lildude commented on #5043
No problem. You're welcome.

[2020-10-12 17:16] matthewmartin-nvg opened #5044 ""AL" language is not being recognised"
Please see the pull requests where the "AL" language was added:
-- https://github.com/github/linguist/pull/4916
-- https://github.com/github/linguist/pull/5023

### Expected language:
AL

### Detected language:
Perl

### Example page:
https://github.com/Navengers/TotalFitness
-- has multiple subfolders with ".al" files.

[2020-10-12 19:15] muslim199 opened #5045 "Skyber"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [ ] verified an issue has not already been logged for your issue ([ling

[2020-10-12 19:16] muslim199 commented on #5045
Haha

[2020-10-12 19:17] muslim199 opened #5046 "Haha"
Haha

_Originally posted by @muslim199 in https://github.com/github/linguist/issues/5045#issuecomment-707299481_

[2020-10-13 09:08] #5046 closed

[2020-10-13 09:08] #5045 closed

[2020-10-13 09:11] lildude commented on #5044
Your repo is private so we can't see what you're trying to point out.

One thing to keep in mind is that a repo will _not_ be re-analysed after a Linguist update. If you've not pushed any content since those two PRs were merged and the new Linguist release made (v7.11.1 was made on 2 Oct and went live on GitHub.com later that day), you will need to push code for your repo to be reanalysed.

[2020-10-13 12:00] ib commented on #5012
@smola

Any progress?

[2020-10-13 12:18] cwfitzgerald commented on #5042
Sounds good :). My main question would be what to do about the grammar. I don't know of a easy to set up grammar for the language (nor really have the energy to make one), but at the same time it's a C derivative, so C grammars work _okay_ for highlighting it.

[2020-10-13 12:28] lildude commented on #5042
Peeps normally use the same grammar they use in Textmate, Atom or VSCode. They're all compatible with Linguist, so if you use any of those editors, you could use the same grammar in Linguist. You could also use the C grammar if you think it'll suffice.

[2020-10-13 12:33] cwfitzgerald commented on #5042
Aha, thank you! It appears it does have a VSCode plugin, which is compatibly licensed, just need to find its source and use that grammar.

[2020-10-13 13:45] cfabianski opened #5047 "YML files detected as HTML"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-13 13:57] lildude commented on #5047
You're looking at an enhancement, not a regression, and it has nothing to do with yaml 😁

[code]

Support for the `.j2` files was added in https://github.com/github/linguist/pull/4963 which first shipped in v7.11.0.

As you can see, YAML isn't included in the stats, and nor should it be as it's considered data by default:

https://github.com/github/linguist/blob/3d39c1c1a0d34c1af890ecfd18cf9ed595c

[2020-10-13 14:05] lildude commented on #5047
🤔 are you sure? It should do. If I perform the same thing I see no change, which I'd expect as as I said, yaml files don't count:

[code]

The only way I can see this making a difference is if you removed the entire `provisioning/roles/postgresql/` or `provisioning/roles/postgresql/templates/` directories or the `.j2` files within `provisioning/roles/postgresql/templates/`.

Did you maybe do one o

[2020-10-13 14:23] cfabianski commented on #5047
Hum... ok I see...
I removed the `provisioning` folder thinking that it would be because of the yml files but apparently that was because of the `.j2` files. Sorry for the bad description and bug report! :(

[2020-10-13 14:25] lildude commented on #5047
No probs. Glad to help.

[2020-10-13 23:28] muslim199 opened #5048 "Skylines"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-13 23:28] muslim199 commented on #5048
Haha

[2020-10-13 23:40] muslim199 commented on #5048
Haha

[2020-10-13 23:47] Alhadis commented on #5048
Enough with the spam. Keep it up, and you'll be [reported for abuse](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/reporting-abuse-or-spam).

[2020-10-13 23:47] #5048 closed

[2020-10-14 15:10] cfabianski commented on #5047
@lildude Isn't it a bug that those j2 files are detected as HTML and why the scoring of those files make the scoring so high that while I'm expecting `Ruby` I'm getting `HTML` as a first language here?

[2020-10-14 15:43] lildude commented on #5047
No. Those files are part of the "HTML+Django" language which is part of the HTML group of languages, hence you see HTML:

https://github.com/github/linguist/blob/b3664e4f242c842e356bd011090f85514d147948/lib/linguist/languages.yml#L2060-L2068

Because of their cumulative size.  From the README:

The total bytes of code of those three files far exceeds all the Ruby added up:

[code]

... with `provi

[2020-10-14 18:03] muslim199 commented on #5046
Hahahh

[2020-10-15 07:44] #5047 closed

[2020-10-15 07:44] cfabianski commented on #5047
Thanks for the explanation @lildude
I'm closing the issue then :)

[2020-10-16 02:37] meisels opened #5052 ".as misidentified as AngelScript"
I uploaded ActionScript files to my repository and they are defined as AngelScript.

## Problem Description

If you search for the extension .as, the results will be mostly ActionScript. I've made an override but now whenever you click on the ActionScript text (in the language panel), it won't bring up my .as files because they are under the tag AngelScript still.

### URL of the affected reposito

[2020-10-16 08:34] Alhadis commented on #5052
This should be fixed by #4926.

[2020-10-16 10:58] meisels commented on #5052
The problem is I'm using ActionScript 2 and not 3. That may be why it's not being detected.

I overrode linguist, as you can see below:
![image](https://user-images.githubusercontent.com/68653653/96250239-86641780-0f7c-11eb-979a-3fbae5eb9e3a.png)

But when you search through the code, .as files are still identified as AngelScript:
![image](https://user-images.githubusercontent.com/68653653/9625039

[2020-10-16 12:16] lildude commented on #5052
Because modifying _just_ the `.gitattributes` isn't enough to force a re-analysis (by Linguist) and re-indexing by the search engine (responsible for your second screenshot) and you've not made any other changes in the last 9-10 hours. Changing another file should force a re-analysis and re-indexing, though it can take a bit of time for both to happen, especially during US working hours when GitHu

[2020-10-16 17:03] meisels commented on #5052
Ah. That would make sense. Okay, the last time I edited it was about 6 hours ago so in about 4 hours I'll check.

[2020-10-16 17:10] lildude commented on #5052
You need to modify another file, _not_ the `.gitattributes`, to trigger a re-analysis. If in doubt, modify one of your ActionScript files that show up in the search results.

[2020-10-16 21:40] meisels commented on #5052
It's been 4 hours and nothing's changed. Is there any way I could override everything and just set the languages myself? Or remove the languages tab entirely?

[2020-10-17 04:07] meisels commented on #5052
I just checked and the files are still labeled as AngelScript.

[2020-10-17 09:42] slayoo opened #5053 "improve Prolog vs. IDL detection (.pro files)"
Apparently some .pro files are detected as Prolog, while others are given the IDL label.
The latter is related with the IDL/GDL/PV-WAVE language family.

In the GDL project, all .pro files are IDL source code, while they fall in both categories according to github:
- https://github.com/gnudatalanguage/gdl/search?l=prolog
- https://github.com/gnudatalanguage/gdl/search?l=IDL

Would be great to impr

[2020-10-17 10:27] lildude commented on #5053
The `.pro` extension is associated with quite a few different languages and thus relies upon the heuristic:

https://github.com/github/linguist/blob/1df78c248cafa6b414651673846e26e388710df9/lib/linguist/heuristics.yml#L378-L391

... and samples to identify the language based on the content so in order to make things more consistent, we'd need to improve the heuristics and add a few more representa

[2020-10-17 10:36] lildude commented on #5052
🤔 I'm really not sure then. You'll need to contact GitHub support then as this is something with the search indexing which is independent of Linguist. Things are likely to improve when a new release is made and deployed which pulls in the changes from https://github.com/github/linguist/pull/4926. I'm not sure when that will be though, possibly not until the end of October, early November.

[2020-10-17 13:11] slayoo commented on #5053
So the current rules are as follows:
[code]

[2020-10-18 05:38] slayoo commented on #5053
Some notes:
- all IDL files in https://github.com/github/linguist/tree/master/samples/IDL include function definitions, which is not that representative as IDL files may be pure scripts, may contain procedure definitions, ...
- QMake detection can be improved by including the mandatory "+=" chars along with HEADERS and SOURCES (which are also valid IDL code elements), see: https://github.com/black

[2020-10-18 17:50] meisels commented on #5052
@lildude I see you forked my repository and added a line of code. What does // Foo do? I'm changing it now to see if it works.
![image](https://user-images.githubusercontent.com/68653653/96375761-ec04ff00-1148-11eb-8b12-5f6a270118d0.png)

[2020-10-19 08:22] lildude commented on #5052
It doesn't do anything. It was an attempt to force re-indexing, but it didn't work 😄

[2020-10-19 22:02] meisels commented on #5052
:sob: So there's no way to just remove that feature entirely?

[2020-10-20 02:50] LukeG294 opened #5057 "Incorrectly Detecting Shell"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-20 08:22] lildude commented on #5052
Not really... it's the main search functionality behind the site and would only affect those that choose to search just your repo for files with the ActionScript language. I suspect this will be a very very very small number of people. As I mentioned before, things may improve once the recent updates have been deployed.

[2020-10-20 08:34] lildude commented on #5057
Not quite 😁 Here's your shell file: https://github.com/brainbotdev/brainbot/blob/master/.env.example

It's a named file specifically assigned to Shell:

https://github.com/github/linguist/blob/65d078bab8a8bafc5c53614be5c3fec42c2897f0/lib/linguist/languages.yml#L5146-L5175

[2020-10-20 17:08] LukeG294 commented on #5057
Wow, didn't even notice that. Thanks!

[2020-10-20 17:08] #5057 closed

[2020-10-22 19:30] RushiY commented on #3342
what is the maximum for java files in a private repo?

[2020-10-23 05:07] Dulya-Perera commented on #542
Same here. What's wrong with it? Plz this as well as.  https://github.com/Dulya-Perera/MAD_project

[2020-10-23 05:50] Dulya-Perera commented on #542
It's displayed after I add the license.

[2020-10-23 17:08] JT0407 opened #5062 "@lildude #5043 thanks."
@lildude #5043 thanks.

_Originally posted by @softmarshmallow in https://github.com/github/linguist/issues/3229#issuecomment-707011799_

[2020-10-23 17:09] #5062 closed

[2020-10-23 17:10] JT0407 opened #5063 "Jt"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-23 17:11] Alhadis commented on #5063
@JT0407 Stop the spam. Seriously.

[2020-10-23 17:11] #5063 closed

[2020-10-23 21:12] C34A opened #5066 "beef files detected as HyPhy or brainfuck"
## Problem Description
Any file ending in .bf seems to get marked as HyPhy or brainfuck, usually incorrectly. This primarily affects beef repos, but I was able to find [this repo](https://github.com/laboon/esolangs) containing code in something called befunge which is also affected, though this matters more for beef.

### URL of the affected repository:
every beef repo as far as I can tell. for ex

[2020-10-23 21:14] adampeklay commented on #4484
Macbook pro 2019 changes needed:

`root# vim /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks/Ruby.framework/Versions/2.6/usr/include/ruby-2.6.0/universal-darwin19/ruby/config.h
413 #define RUBY_ARCH "universal-" RUBY_PLATFORM_OS
414 #define RUBY_PLATFORM "universal." RUBY_PLATFORM_CPU "-" RUBY_PLATFORM_OS`

`root# uname -a
Darwin C02D98FMMD6M 19.6.0 Darwin Kernel Vers

[2020-10-25 13:30] przemub commented on #4229
Should not it be detected as HTML then? What Hack has to do with this?

[2020-10-25 13:40] pchaigno commented on #3342
@RushiY This is not a per-language setting since it is enforced _before_ language detection.

[2020-10-25 14:02] Seluj78 opened #5067 "Bad syntax HL"
I could not find the repo of the syntax HL github uses, I know this is most likely the wrong place.

I was looking at this dockerfile and the color is incorrect for half the file

https://github.com/sickcodes/Docker-OSX/blob/8343da16fc3f2c5ebc6e1f79dbf53cdf3639d1f8/Dockerfile#L116-L198

cheers

[2020-10-25 15:10] RushiY commented on #3342
I see, thanks for letting me know.

[2020-10-26 05:01] TheMaverickProgrammer opened #5068 "C++ with embedded GLSL strings incorrectly labeled as Objective-C"
I understand linguist can be told to use attribute files so they are not interpreted or that they are told to be interpreted a certain way, but this would require adding a git-attribute file and listing all of my C++ files because of a simple problem.

## Problem Description
Simply put, my C++ files that contain embedded GLSL are reflected as Objective-C files which is not true. Objective-C isn't

[2020-10-26 05:33] Alhadis commented on #5068
How is that a problem, exactly?

[2020-10-26 05:39] TheMaverickProgrammer commented on #5068
because there is nothing wrong with my C++ files and they are being mis-interpretted

[2020-10-26 05:43] Alhadis commented on #5067
The list of repositories is [linked to in the README file](https://github.com/github/linguist#theres-a-problem-with-the-syntax-highlighting-of-a-file):

As for the repository that provides Dockerfile highlighting, it's [`asbjornenge/Docker.tmbundle`](https://github.com/asbjornenge/Docker.tmbundle), as listed in [`vendor/README.md`](https://github.com/github/linguist/blob/master/vendor/README.md).

[2020-10-26 05:43] #5067 closed

[2020-10-26 05:44] Alhadis commented on #5068
Linguist isn't perfect, nor will it ever be. It's ability to distinguish C++ and Objective-C headers is a common issue, which is half the reason we implemented overrides in the first place.

[2020-10-26 07:22] TheMaverickProgrammer commented on #5068
Not with that attitude

[2020-10-26 07:57] Alhadis commented on #5068
Yours isn't helping, either.

Now, unless you're willing to submit a PR to make Linguist the shining, immaculate pinnacle of software perfection, I don't think there's anything else to discuss here. You now know what the solution is, it's up to you to help yourself.

[2020-10-26 07:57] #5068 closed

[2020-10-26 09:01] TheMaverickProgrammer commented on #5068
oof bitter

On Mon, Oct 26, 2020 at 2:57 AM John Gardner <notifications@github.com>
wrote:

[2020-10-26 09:21] lildude commented on #5066
This would be because Linguist doesn't know about Beef and only associates the `.bf` extension with HyPhy or brainfuck.

In order for your files to be identified as beef, Linguist would need to be taught all about it. It the `.bf` extension for Beef is sufficiently popular for inclusion (see the CONTRIBUTING.md file), we'd appreciate a pull request to add support.

[2020-10-26 10:36] eric-wieser opened #5069 "Syntax highlighting splits unicode characters"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-26 11:45] Seluj78 commented on #5067
Thank you for the reply! Have a nice day

[2020-10-26 13:51] lildude commented on #5069
🤔 I think this really _is_ a problem with the grammar and not a problem with the way the grammars are being processed as using the old Lean Textmate grammar we used to use, using the exact same parsing/processing, works as expected:

- Old Textmate grammar: [lightshow results](https://github-lightshow.herokuapp.com/?utf8=%E2%9C%93&scope=from-url&grammar_format=auto&grammar_url=https%3A%2F%2Fgithub

[2020-10-26 13:58] eric-wieser commented on #5069
What does the conversion between the various types of grammar file? Could it be a bug that applies only to `json` grammars (https://github.com/leanprover/vscode-lean/blob/master/syntaxes/lean.json) and not to `tmLanguage` grammars (https://github.com/leanprover/Lean.tmbundle/blob/master/Syntaxes/Lean.tmLanguage)?

[2020-10-26 14:40] lildude commented on #5069
There are two but in this case it's an internal library called PrettyLights heavily based off the Textmate grammar processing. It's not open source because of various licensing requirements.

The other is the grammar processor in this repo which produces the JSON files used by PrettyLights in production. These files are attached to each release.

It's possible, but I don't think so as ultimately w

[2020-10-26 15:02] eric-wieser commented on #5069
This extremely minimal example fails:

https://github-lightshow.herokuapp.com/?utf8=%E2%9C%93&scope=from-url&grammar_format=auto&grammar_url=https%3A%2F%2Fgist.githubusercontent.com%2Feric-wieser%2Fc5a9efea2581d65fda99ec2816177fde%2Fraw%2F2b49471690be198d54fc8c6c51ce91037d369252%2Flean-tiny.json&grammar_text=&code_source=from-text&code_url=&code=%23check+%E2%9F%A8Type%E2%9F%A9

[2020-10-26 15:25] Alhadis commented on #5069
Okay, this is weird. leanprover/vscode-lean@deb64b0 appears to be the commit that broke the syntax highlighting, according to the Lightshow results:

* [`leanprover/vscode-lean@8690a57`](https://github-lightshow.herokuapp.com/?utf8=%E2%9C%93&scope=from-url&grammar_format=json&grammar_url=https%3A%2F%2Fgithub.com%2Fleanprover%2Fvscode-lean%2Fblob%2F8690a576c3a7cd126dd8cd479eaeba6fe6e7b734%2Fsyntaxe

[2020-10-26 15:27] eric-wieser commented on #5069
@Alhadis is spot on - I found that if I removed either `Prop` or `Sort` from the example in https://github.com/github/linguist/issues/5069#issuecomment-716606285, everything works.

[2020-10-26 15:39] lildude commented on #5069
🤔 Interesting. Good work peeps. I've reached out to the internal maintainers of the syntax highlighter to get some 👀 on this.

[2020-10-27 17:09] Zethson opened #5071 "gitattributes ignored and wrong language reported"
## Preliminary Steps

Please confirm you have...
- [X] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [X] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [X] considered implementing an [override](https://github.com/github/linguist#overrides),
- [X] verified an issue has not already been logged for your issue ([ling

[2020-10-27 17:28] lildude commented on #5071
It technically is, you're however telling it the wrong path 😉.

From the [`.gitattributes` docs](https://www.git-scm.com/docs/gitattributes)

If we look in the [`.gitignore` docs](https://www.git-scm.com/docs/gitignore), we find this pertinent bit (emphasis is mine):

So with this in mind, we can tell you're using the wrong path pattern:

[code]

🎉

[2020-10-27 17:29] Zethson commented on #5071
Thank you very much for your quick and helpful answer!

[2020-10-27 17:29] #5071 closed

[2020-10-27 19:05] LoopsGod commented on #4484
You can run

[code]

and then run

[code]

[2020-10-28 10:43] mvdan opened #5072 "scdoc text files are incorrectly rendered as SuperCollider instead of Markdown"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-10-28 10:49] mvdan commented on #5072
I tried `*.*.scd linguist-language=Markdown` and it kind of works as a temporary workaround, since the syntax highlighting now follows Markdown. But my file is still not being rendered like `.md` and `.ronn` files: https://github.com/mvdan/sh/blob/f1d7185c4d02528db7c2f0290e9356a1c5503683/cmd/shfmt/shfmt.1.scd

[2020-10-28 13:55] lildude commented on #5072
The rendering of `.md` and `.ronn` files isn't done by Linguist and Linguist doesn't have much influence over that beyond identifying the language. The actual rendering is done by the code in https://github.com/github/markup/.

If you want syntax highlighting, support would need to be added to Linguist - please feel free to submit a PR.

If you want actual rendering, then you'll need to add suppor

[2020-10-28 14:15] lildude commented on #5008
Linguist does, but only if, in this case, the filename is associated with more than one language. As has already been pointed out, `BUILD` is only associated with one language so Linguist will return that straight away and not look into the content. To get it to move onto the heuristics and later steps that look at the content, support would need to be added for another language.

Please feel free

[2020-10-28 14:19] mvdan commented on #5072
Thank you, I wasn't aware that language detection and language rendering were separate. Proper rendering is less important than fixing the highlighting I think, so we could fix linguist first and that would already be a big win.

Does my idea above about adding the extensions `.1.scd` through `.9.scd` sound good? Will linguist's extension matcher work with such extensions which should be checked b

[2020-10-28 21:52] mvdan commented on #5072
I had a quick look at this but I'm afraid that Ruby and the Bayesian classifier steps in CONTRIBUTING.md make this look like a few hours of work rather than a simple PR.

[2020-10-31 14:32] ABHISHEK-G0YAL opened #5073 "CSS file not detected"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-11-01 11:13] lf- commented on #5041
I suspect that the bug here is that it's detecting synthesis attributes `(* like this one *)` as coq comments, which is indeed something that's in the heuristic and probably shouldn't be.

[2020-11-01 11:14] lf- commented on #5041
Here's another misidentified file: https://github.com/cliffordwolf/picorv32/blob/409d0dfd6772551e2ce77502e368973c447cbeb8/picorv32.v

[2020-11-01 11:29] lf- commented on #5041
#4751 looks like it went stale because of a lack of explanation of why the sample given looked so different. In brief, this is because the new sample is (program-like, cannot be synthesized into hardware) testbench code that uses tasks as opposed to the existing samples which are mostly if not entirely synthesizable Verilog. These subsets look very different because of the typical sequential execu

[2020-11-01 12:00] Alhadis commented on #5041
@lf- You definitely sound like you know your stuff; so you're saying `(* this *)` is a valid comment in Verilog as well? (Or, well, any legal Verilog syntax, for that matter)

[2020-11-01 12:07] lf- commented on #5041
@Alhadis yes, `(* ... *)` is valid Verilog as a synthesis attribute but not as a comment. Similar in function to [[attributes]] in C++ in that it's a directive to the compiler related to the next item.

I believe that this syntax was introduced to supersede the previous and rather cursed practice of putting synthesis attributes in comments.

[2020-11-01 12:14] Alhadis commented on #5041
In that case, the changes proposed by #4751 were most *definitely* valid. Unfortunately, the submitter deleted their fork, so I can't reopen the PR.

@lf- If you want to submit a new PR reintroducing those changes, rest assured you have my blessing. 👍 I feel more confident letting you take the reins here, as you're clearly the expert.

[2020-11-01 14:52] atava opened #5074 ".plt files recognized as "Gnuplot", but they're also unit test files for Prolog"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-11-02 09:52] lf- commented on #5041
I have 🦇👻reanimated👻🦇 and rebased #4751 onto master in #5075 as requested :)

[2020-11-02 09:55] Alhadis commented on #5041
Thanks! 👍 Approved for merge (though only a GitHub staff member can do that, so we'll have to wait until @lildude gets online)

[2020-11-02 11:15] lildude commented on #5074
As you've already found, the reason for this is the `.plt` extension is not associated with Prolog and is only associated with Gnuplot, hence your files are being identified as Gnuplot. In order for these files to be identified as Prolog, the extension needs to be added to Prolog too. As there is already a language associated with this extension, we'd also need a heuristic to differentiate the two

[2020-11-02 11:27] lildude commented on #5073
Linguist is detecting your CSS file as generated because your average line length is over 110 chars which is quite common in minified CSS files.

Your two `background-image: url("data:image/png;base64,...` lines are heavily swaying this calculation.

You can override this by using the generated override: `* -linguist-generated` or `* linguist-generated=false`.

[2020-11-02 11:31] ABHISHEK-G0YAL commented on #5073
Thank for you help, I would try overriding it as you suggested.

[2020-11-02 14:47] #5073 closed

[2020-11-02 17:16] bastie opened #5077 "C# code is detected as Java"
## Preliminary Steps

Please confirm you have...
- [ ] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [ ] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [ ] verified an issue has not already been logged for your issue ([ling

[2020-11-02 17:21] atava commented on #5074
I've used an override and it is okay with me for now (although I have to set it in every Prolog repo I create).
I'll consider asking for support as you say. Thanks.

[2020-11-02 18:07] lildude commented on #5077
From a command line analysis, I can see these files are being detected as Java:

[code]

A quick look at a few of these quickly reveals the reason:

[code]

The files have been explicitly marked as Java from the modeline entry in each file:

[code]

If you don't want them identified as Java, you'll need to remove the modelines from all these files or implement an override. The former would probabl

[2020-11-02 18:15] bastie commented on #5077
thx

[2020-11-02 18:15] #5077 closed

[2020-11-03 14:14] #5041 closed

[2020-11-03 17:21] eoli3n commented on #5047
If it reports a wrong language, it looks like a bug to me.
I'm facing the same problem on 2 repositories:

- https://github.com/eoli3n/dotfiles/
- https://github.com/eoli3n/kubernetes-the-less-hard-way

Maybe ``.j2`` files should be considered as what it is: "jinja templates"

[2020-11-04 05:18] darkRaspberry commented on #3342
What about small repo like https://github.com/darkRaspberry/Forest

[2020-11-04 05:24] darkRaspberry commented on #3342
What about small repo like https://github.com/darkRaspberry/Forest

[2020-11-04 06:14] darkRaspberry opened #5082 "files are just don't considered in the whole repo"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-11-04 06:15] darkRaspberry commented on #5082
I have locally tested and found that docs are not considered or linguist can't see docs files

[2020-11-04 06:25] darkRaspberry commented on #5082
i have moved files to different place still no response

[2020-11-04 10:25] lildude commented on #5082
As you've correctly identified, your files are not being considered for the language stats because they're in the `docs` folder and thus being determined by Linguist as documentation thanks to:

https://github.com/github/linguist/blob/5da91555329a1371a602f10a9719439219d280de/lib/linguist/documentation.yml#L12

It should do, though you could have checked before the background job that does the anal

[2020-11-04 10:47] lildude commented on #5044
Whilst I can't view your repo content, I can see from the backend side of things that your repo is now showing  your repo is predominantly made up of files identified as "AL" so I'm going to close this issue.

[2020-11-04 10:47] #5044 closed

[2020-11-04 11:11] darkRaspberry commented on #5082
Thanks

[2020-11-04 11:11] #5082 closed

[2020-11-06 05:05] expipiplus1 opened #5083 "Haskell/Bash polyglot detected as Bash"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
  - I will
- [x] verified an issue has not already been logged for your i

[2020-11-06 09:46] lildude commented on #5083
This is happening because Linguist is doing what you've asked it to do: identify the file as Bash.  You're doing this in the very first line in the file 😉

Linguist prioritises the shebang over the extension:

https://github.com/github/linguist/blob/72074c2e305435369aba03a7940f9d7bfd3c17b7/lib/linguist.rb#L61-L71

...  as this is generally a deliberate decision made at the time of writing the cont

[2020-11-06 10:35] expipiplus1 commented on #5083
yup, makes sense! Thanks for expanding!

[2020-11-06 23:56] nishtahir opened #5085 "Kotlin syntax highlighting stopped working in 7.12.0"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-11-06 23:56] nishtahir commented on #5085
cc @lildude

[2020-11-07 11:27] lildude commented on #5085
Ooof. 🤦  I completely missed this. Sorry.

Looks like the structure of the Kotlin grammar has changed and resulted in our grammar compiler picking the individual files in `src` and not the complete grammar in `dist` and is thus creating an incomplete [grammar file](https://gist.github.com/lildude/3737a70dc3badecf73efac6b1ccf7e2f):

[code]

I think this is easy enough to change in the compiler. I'l

[2020-11-07 23:08] l1ving commented on #5085
Confirmed on both mobile website, mobile app and desktop website

[2020-11-07 23:25] nishtahir commented on #5085
My repo has a JSON grammar distribution. Would it be possible to point to that temporarily before the compiler fix?
It would be unfortunate to not have any syntax highlighting before a change to the compiler can be made/tested/deployed.

[2020-11-08 10:17] lildude commented on #5085
Unfortunately not as I couldn't deploy the grammar update to GitHub.com until Monday due as the PR would need approval before it can be deployed. I'm based on the UK so will have everything in place for when my US colleges come online.

[2020-11-08 18:12] pfitzseb opened #5087 "Update Julia syntax"
The [0.20 release of language-julia](https://github.com/JuliaEditorSupport/atom-language-julia/releases/tag/v0.20.0) has a critical bug that breaks highlighting for basically every file (e.g. [this](https://github.com/JuliaLang/julia/blob/master/base/Base.jl)). This wasn't caught in our tests because those run with Oniguruma instead of PCRE.

[0.20.1](https://github.com/JuliaEditorSupport/atom-lan

[2020-11-09 10:33] LouisCAD commented on #5085
BTW, can you please avoid deploying on Fridays going forward? 🙂
That can help getting hotfixes before everyone notice the issue 😉

[2020-11-09 11:38] lildude commented on #5087
No probs. I've pulled this into v7.12.1 which I'm in the process of releasing right now.

[2020-11-09 11:43] lildude commented on #5085
I normally do, but I'm pushed for time to include this in the latest GitHub Enterprise Server (GHES) release so pushing Friday allowed the issue to be detected and fixed before it gets included in GHES which is much slower to update.

I'm in the process of releasing v7.12.1 which fixes this so should be fixed 🔜 .

[2020-11-09 12:13] lildude commented on #5085
Re-opening as this won't be fixed until the grammars have been deployed.

[2020-11-09 12:25] pfitzseb commented on #5087
Thanks a bunch!

Related: Do you have any pointers on how to run (regression) tests against GitHub's syntax highlighting pipeline? I'd rather not have to check lightshow for each PR...

[2020-11-09 12:28] lildude commented on #5087
Unfortunately not. @Alhadis might have some ideas as he maintains a few grammars.

[2020-11-09 13:33] lildude commented on #5087
The latest Julia grammar is now in use on GitHub.com. Current files are cached so their syntax highlighting won't change until there is a push to each repo.

https://gist.github.com/lildude/13b6fe9e3afc45db47e801ec53984619 is an example of what the file you originally referenced will look like once the repo is reanalysed.

Closing.

[2020-11-09 13:33] #5087 closed

[2020-11-09 13:33] lildude commented on #5085
Syntax highlighting is now working again. Sorry for the inconvenience peeps. Closing.

[2020-11-09 13:33] #5085 closed

[2020-11-09 13:35] sudoFerraz commented on #5085
@lildude Funny thing, it was working indeed after you deployed but as soon as I refreshed the page it stopped working again, will keep monitoring for any unexpected behaviour.

[2020-11-09 13:49] pfitzseb commented on #5087
Is that only the case for patch releases or why did the broken grammar get applied for _all_ files, not just those that were modified since Friday?

[2020-11-09 14:03] l1ving commented on #5085
Thanks :)

[2020-11-09 15:41] ggoudeau-chwy commented on #5085
@lildude Thanks for fixing! Much appreciated. One question though- is the expectation that annotations get a special highlighting? Looks like they're still not highlighted differently, but I'm not sure what the behavior was prior to this fix, so this may not be an issue.

[code]

[2020-11-09 15:43] l1ving commented on #5085
Yes. Before it would have shown all in the same font color, meaning highlighting wasn't working

[2020-11-09 15:49] lildude commented on #5085
I have no idea 😁 You'd need to ask the grammar maintainer over in https://github.com/nishtahir/language-kotlin/

[2020-11-09 16:21] nishtahir commented on #5085
@ggoudeau-chwy That is the expected behavior. There is a scope being applied to annotations however that scope isn't given special treatment in the github theme.

[2020-11-11 08:56] ashishejale commented on #542
Hi, FYI I'm new to programming. Github detected my java files instantly when I added the .java extension. Earlier I had added .py and .c for my Python and C files respectively, but now I forgot to add the .java and my repository was not displaying the brown blob for Java files. I was searching for an reason and found this thread. None of the people in this thread mentioned this. Is this related? A

[2020-11-11 09:17] lildude commented on #542
@ashishejale please open a new issue so we can look into your specific case.

[2020-11-13 14:25] thejustinwalsh opened #5091 "Text Based Protocol Buffer Support"
The text based protocol buffer format does not highlight. It seems there was at least recognition of the elusive text based protocol buffer format back in https://github.com/github/linguist/issues/3816 when it was open.

I am unable to find any formal documentation on the format itself in the Protocol Buffer specification. However, there are methods within the Protocol Buffer API that handle encod

[2020-11-14 12:38] lildude commented on #5091
Looks like these files are quite common on GitHub (most files appear to be vendored and generated from a quick look) so we'd certainly welcome a PR adding support.

[2020-11-15 22:12] silverwind opened #5092 "Setting syntax only via `.gitattributes`"
The [linguist-language](https://github.com/github/linguist#using-gitattributes) git attribute currently serves two purposes on GitHub:

1. It sets the syntax highlighting mode for matching files
2. It affects the language stats of the repo for matching files

Now, there are cases where one wants set syntax highlighting differently than the actual language. One example case are [go templates](https

[2020-11-17 22:02] tarikhamilton opened #5094 "Predominantly TSX/TS project is 99% CSS (less than 50 lines of CSS committed though)"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-11-18 00:22] TalesMiguel commented on #542
Got a similar problem in this repo https://github.com/TalesMiguel/Blog-DjangoGirls
It only shows "python", although my friend's projects that are basically the same as mine are correctly displaying all used languages, such as js.
Would appreciate some help!

[2020-11-18 09:47] lildude commented on #542
@TalesMiguel all your files are being correctly detected, however they don't show up in the totals because your total bytes of Python far outweigh that of everything else making them quite insignificant in comparison.  Ultimately, it's because you've committed your entire `.venv` directory to your repo and it contains a lot of python files:

<details><summary>Full repo breakdown</summary>
<br>

[c

[2020-11-18 13:32] lildude commented on #5094
You have waaaay more than that... like 2.47MB more than that and it alone is so huge that its total bytes of code far exceeds anything else in your repo putting all other languages into the insignificant realm of "other".

You total breakdown by bytes of code is:

CSS 2.47 MB
TypeScript 22.3 KB
HTML 1.82 KB
JavaScript 1.02 KB

The per-file breakdown is:

[code]

That file is 2.47MB which is pretty

[2020-11-19 10:00] lildude commented on #5092
🤔 I'm not sure if this is the right approach or really necessary. It's also not trivial to implement.

Generally speaking, the language and syntax highlighting grammars are closely tied and very rarely would you have a legitimate reason, other than preference on rare occasions, to use a different grammar from the one for the language in question without changing the identified language.

I can und

[2020-11-19 10:42] silverwind commented on #5092
Kind of unrelated to the request here, but those template languages are often two or more languages in one, this goes for Jinja, Go Templates and also Handlebars. Some of them do have specific functionality for HTML like escaping but they all have switches to disable the HTML-specific features.

I guess linguist would have to support detecting multiple languages by filename (and also setting multi

[2020-11-19 22:14] l1ving opened #5095 "Include `.rs.template` in Rust syntax"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [ ] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-11-20 09:52] lildude commented on #5095
Searching for this extension isn't currently possible directly on GItHub but it can be done using BigQuery and a quick search shows there are only 12 files across the whole of GitHub with this extension, eight of which are forks of the same repo you referenced.

This means it's waaaay too early for inclusion right now, but can certainly be added some time in the future once popular enough. In the

[2020-11-20 18:10] tarikhamilton commented on #5094
Wow, thank you. I thought maybe I created that file within the build process because it did not show up in the Github language search, so I wrote it off as being the cause, though really it could've only been it... https://github.com/tarikhamilton/one-rep-max/search?l=css

I wonder if this is a bug within Github's search. I will be sure to use github-linguist locally to confirm in the future.

[2020-11-20 18:10] #5094 closed

[2020-11-22 16:04] Dawoodoz commented on #1626
Until an advanced fix is complete and well tested (which might not even be mathematically possible), why not just skip headers for projects with non-header files? The ratio between languages will be mostly the same from having mostly one header per implementation file.

[2020-11-25 12:42] poikilos commented on #4432
The real solution is to put something like this in your .gitattributes file:
[code]

- That prevents linguist from considering html files (the minus sign indicates NOT linguist-detectable).
- For generated files (does not seem to apply here), the more accurate option would be: `*.html linguist-generated`
- For more overrides, see <https://github.com/github/linguist#overrides>

[2020-11-26 19:25] spmcginnis commented on #3484
"I don't think most developers would want their repository to be labeled as XML."  Be that as it may, the current behavior would be to label those files as HTML, which is false.

[2020-11-27 01:08] 0xdevalias commented on #4591
In case you end up here from google (like I just did), this article is a good overview of how to solve this: https://joshuatz.com/posts/2019/how-to-get-github-to-recognize-a-pure-markdown-repo/

[2020-11-27 01:08] 0xdevalias commented on #3964
In case you end up here from google (like I just did), this article is a good overview of how to solve this: https://joshuatz.com/posts/2019/how-to-get-github-to-recognize-a-pure-markdown-repo/

[2020-11-27 01:13] Alhadis commented on #4591
Or you could, y'know, read [our readme's _"Troubleshooting"_ section](https://github.com/github/linguist#troubleshooting), which contains a [solution](https://github.com/github/linguist#detectable) to this very problem. 😉

[2020-11-27 01:19] 0xdevalias commented on #4591
@Alhadis I did read it, and used it to fix a different similar issue, but it in and of itself wasn't sufficient information to make it simple/easy/obvious for my problem. Likely why I have seen multiple issues on it when searching here, and why people need to write blog posts about it. Since this came up near the top of the google results when I was searching, and it took more focussed searching/t

[2020-11-27 09:27] lildude commented on #3484
@spmcginnis No it doesn't. What makes you believe this is the case?

Only files that fall into the HTML language:

https://github.com/github/linguist/blob/7c2adbdb15d4efd25d92cd5ed20d0025f0d32d28/lib/linguist/languages.yml#L2042-L2059

... or those in the HTML group, eg HTML+Django:

https://github.com/github/linguist/blob/7c2adbdb15d4efd25d92cd5ed20d0025f0d32d28/lib/linguist/languages.yml#L2060-L

[2020-11-27 11:09] vagman commented on #435
I still get this! Only workaround is to call your files `.prolog` but the problem here is that Visual Studio Code reads it as Plain Text then...the Prolog plugin doesn't work.

[2020-11-27 11:16] lildude commented on #435
@vagman can you please open a new issue linking to your repo experiencing this as Prolog uses the `.pl` extension as the default now:

https://github.com/github/linguist/blob/7c2adbdb15d4efd25d92cd5ed20d0025f0d32d28/lib/linguist/languages.yml#L4262-L4275

... so if it's not detecting your files correctly, something else may be at play here.

[2020-11-27 22:38] kevinkhill opened #5098 "`NC` files are being incorrectly identified as `nesC`"
Files posted by CAM software, `NC` files are being incorrectly identified as `nesC` files in my repo.

### URL of the affected repository:
https://github.com/kevinkhill/ncstat

### Last modified on:
2020-11-27

### Expected language:
`NC`? gcode? nc? I'm not sure what you want to call it

### Detected language:
`nesC`

[2020-11-29 15:58] hhlamba commented on #3666
Thanks a lot.

[2020-12-01 23:25] tombsar commented on #1626
I found one of the C header files in my project was being misidentified as Objective-C, so thought I'd investigate. I first started deleting lines until I had a minimal reproduction case. Here is what I came up with (stored as test.h, in case filename is relevant):

[code]

As written, this identifies as Objective-C, but if I change the name of `capacity` to anything else, it identifies as C. I we

[2020-12-02 04:28] thejustinwalsh commented on #5091
Is there a guideline for what the repository of the grammear should look like? The [contributing guidelines](https://github.com/github/linguist/blob/master/CONTRIBUTING.md) seem to suggest you just point it at a repo that contains a textmate grammar, and it takes it from there?

From the list of already included ones I see lots of Atom plugins, however my grammar I would like to add in the PR is a

[2020-12-02 08:43] CodeAsherPlayz commented on #5052
Hmmm, it is 2 December when I commented on this. Has this issue been rectified in #5089? If not, please look into it and add the Misinterpreted Language tag. Thanks!

[2020-12-02 11:07] lildude commented on #5052
Yes, your original issue of the language being incorrectly identified _has_ been resolved by #5089:

[code]

... and you can see the re-analysis done by GitHub reflects this in the repo I've just pushed your code to: https://github.com/lildude/effective-octo-fortnight

![Screenshot 2020-12-02 at 10 19 50](https://user-images.githubusercontent.com/627280/100860069-eb6dc100-3487-11eb-9a5d-f0392ac6c7

[2020-12-02 11:11] lildude commented on #5091
You are. VSCode grammars are TextMate compatible and you'll see we have plenty other VSCode grammars included.

You can also test your grammar to see how it'll appear on GitHub using Lightshow at https://github-lightshow.herokuapp.com/

[2020-12-02 18:04] smola commented on #5098
`G-code` is already a supported language, so the `.nc` extension could be added to it. See https://github.com/github/linguist/blob/master/CONTRIBUTING.md#adding-an-extension-to-a-language

[2020-12-02 23:13] drewcrawford commented on #1626
capacity is a term that ObjC developers are perhaps more likely to use culturally, and you see this sort of naming in the example files in this repo. Of course there’s no reason any language can’t use the word “capacity” to name something.

The longer I think about this example, the more convinced I am that this problem requires a text classification (e.g. neural network) approach. Regex classific

[2020-12-03 00:00] MarcusJohnson91 commented on #1626
It should be based on keywords.

`#import` Objective-C or maybe C++

`template` C++

`_Generic`, `_Bool`, `_Complex` C.

[2020-12-03 00:38] tombsar commented on #1626
I guessed it would be something like that. Note that "capacity" is a standard container member in the C++ STL, so a larger range of sample code might pick that up commonality.

I think what I'm seeing is that some of my files have *none* of those keywords, so a heuristic is being used to classify instead, leading to the surprising results.

My preference would be that such files (ones that don't m

[2020-12-03 08:39] akubiczek opened #5102 "Prog8 language detected as Lua"
## Problem Description

The Prog8 source code is detected as Lua language.

### URL of the affected repository:

https://github.com/akubiczek/p8checkers

### Last modified on:
2020-12-02

### Expected language:
Prog8

https://prog8.readthedocs.io/en/latest/
https://github.com/irmen/prog8

### Detected language:
Lua

[2020-12-03 10:45] lildude commented on #5102
This is happening because Linguist doesn't know anything about the "Prog8" language and currently only associates the `.p8` extension with Lau:

https://github.com/github/linguist/blob/633d196c170e002bcccb4143d6906787f360e08b/lib/linguist/languages.yml#L3031-L3051

Unfortunately, as Linguist doesn't know about the language, you can't implement a workaround, however if Prog8 meets the requirements

[2020-12-05 21:21] kevinkhill commented on #5098
I apologize, but I was too hasty to make this issue.

Indeed it can be added as an extension, but I found it more effective for my project to ignore them instead.

[2020-12-07 01:25] julien-langlois opened #5105 "Detecting YAML format on Ansible repositories"
## Problem Description

Since most repositories related to Ansible are mostly composed of YAML files, why is this not taken into account for language detection?
It is often displayed HTML or Shell depending on the files present that are necessary for the roles or playbooks to work properly.

### URL of the affected repository:
https://github.com/geerlingguy/ansible-role-nginx

### Last modified on

[2020-12-07 09:36] lildude commented on #5105
Because YAML isn't considered a programming language by Linguist (note: `type: data`) and as such is ignored when calculating the statistics:

https://github.com/github/linguist/blob/633d196c170e002bcccb4143d6906787f360e08b/lib/linguist/languages.yml#L6357-L6383

If you really want your repo to count the YAML files, you can implement the [detectable](https://github.com/github/linguist#detectable)

[2020-12-10 17:06] amirghazi87 opened #5107 "Add Pashmak Programming Language Request"
# New Programming Language
## Pashmak Programming language
the .pashm files is pashmak programming languge
please add it
## The Pashmak Github Ripository
[Pashmak](https://github.com/pashmaklang/pashmak)
Thanks

[2020-12-10 18:12] lildude commented on #5107
If the language meets the popularity requirement detailed in the CONTRIBUTING.md file, feel free to submit a PR adding support for this language. The requirement is vague at the moment, but we take 200 unique user/repos as a minimum.

[2020-12-11 17:45] ItzSwirlz commented on #1626
Shouldn't linguist just look if the majority of the code is C? If the majority of the code is C, the 'Objective-C' file should be marked as C, and vice-versa.

For projects that use both C and C++, see what is used in the directory and assume that.

[2020-12-11 17:47] silverwind commented on #4348
I have to strongly disagree with marking yarn lockfiles as non-generated because that's what they are: generated by a machine, not meant for human consumption. They are certainly polluting diffs, e.g. on medium sized project a dependency update it's still a 1-2k line change.

The fact that yarn lockfile is the only lockfile that is not considered generated is rather disturbing, but I guess it may

[2020-12-11 18:59] arcanis commented on #4348
You're meant to review them - so insofar as you are a human, they are in part meant for human consumption.

[2020-12-11 19:20] silverwind commented on #4348
In an ideal world, yes. But realistically no one is really going to review a 2k lockfile change in a react project. If the author is trusted, I just look at `package.json` and skip over the lockfile. If not, I pull the branch and regenerate the lockfile to see if it matches the provided one.

[2020-12-11 20:03] arcanis commented on #4348
Yarn's changesets have very rarely that many changed lines - since we don't encode the recursive dependency tree via a nested structure, adding a package is often just 5-10 lines. Having more than that is actually a useful signal, since it shows that perhaps you're installing more packages than you expected.

That being said we also have more improvements in the pipeline to improve the general sec

[2020-12-12 22:52] felipeek commented on #1626
Totally agree. This is what I suggested in this thread some time ago. I think linguist should define a threshold - let's say 80% - and when it detects that 80% or more of the files that are inside the project/directory are identified as C, for example, it should just assume the others are as well.

This would obviously do not solve the issue, since somebody could, theoretically have half of the fi

[2020-12-13 18:06] RaimundoDiaz opened #5112 "Am i missing something? [Repository not updating]"
## Problem Description

I created a repository with a wrong .gitignore file, so at the start, it detected that I had 98% javascript, it was ok because all my node modules were in the repository, once I corrected the .gitignore file I deleted them from the repository, but it did not update. I made a copy of the repository to know if I was missing something but linguist worked perfectly in the new o

[2020-12-14 09:17] lildude commented on #5112
You'll need to push a change to one of the files that count towards the language stats in order to force a re-analysis as changing or removing the `.gitattributes` alone does _not_ force a re-analysis.

[2020-12-14 14:00] RaimundoDiaz commented on #5112
Thanks! I deleted everything and uploaded it again and it worked.

[2020-12-14 14:01] #5112 closed

[2020-12-16 06:03] davidysoards opened #5114 "Wrong % and languages missing from repo Django project"
## Preliminary Steps

Please confirm you have...
- [x] reviewed [How Linguist Works](https://github.com/github/linguist#how-linguist-works),
- [x] reviewed the [Troubleshooting](https://github.com/github/linguist#troubleshooting) docs,
- [x] considered implementing an [override](https://github.com/github/linguist#overrides),
- [x] verified an issue has not already been logged for your issue ([ling

[2020-12-16 09:36] lildude commented on #5114
You mean like this? 😁

![CleanShot 2020-12-16 at 09 32 46](https://user-images.githubusercontent.com/627280/102330610-ac5c6700-3f81-11eb-9bea-29c35b28752c.png)

Sounds like you didn't give it long enough. From the README:

Sounds like you had an out-dated cached analysis and it took a bit of time the re-analysis to be queued and run.

Now it has been run, all looks good to me.

[2020-12-16 16:06] davidysoards commented on #5114
That's great! I had pushed code last week also and didn't see any change, but all is well now. Thanks for your help.

[2020-12-16 16:06] #5114 closed

[2020-12-16 17:07] Nicolas-Innocent commented on #3665
@nikodemus Idea seems indeed to solve the issue easily enough.
I just encountered this problem when we migrated our Windev projects to github (and while it would be straightforward enough to add those to the known languages, I doubt it sees lots of usage on the platform, so probably not that useful).
It just triggers my OCD that the project gets classified as shell because there is a couple of *.e

[2020-12-16 17:20] dowobeha commented on #3665
@lildude Thanks for your work on this issue to date. Might you be able to provide a status update from your end?

[2020-12-16 18:00] lildude commented on #3665
No change. The last part of my last comment still stands:

In short, this won't be implemented until such time as GitHub's Product team commission a project for it.

[2020-12-16 20:19] dowobeha commented on #3665
I understand. What about the idea posted above by @nikodemus to add one custom language to Linguist called "Unknown", "Custom", "DSL", or "Other"?

That would allow users to do `*.xyz linguist-language=Custom`, which I think would satisfy those of us interested in this issue, while not requiring Github to support custom names in the language bar.

[2020-12-16 21:35] nitrix commented on #3665
Linguist is responsible for language detection. If that language is explicitly specified in `.gitattributes`, that makes its job even easier and it can simply use that instead of guessing.

The **final breakdown** that the tool produces, and **the bar shown on the GitHub website** are **separate concerns**.

If the GitHub team wants to filter which languages have their "official" stamp of approval

[2020-12-17 08:40] EricGrange opened #5115 "Delphi file reported as PHP"
The following Delphi/Pascal file is being reported a PHP in GitHub
https://github.com/EricGrange/cefHtmlSnapshot/blob/main/cef.inc

## Problem Description

The following Delphi/Pascal file is being reported a PHP in GitHub as seen in
https://github.com/EricGrange/cefHtmlSnapshot/search?l=php

### URL of the affected repository:
https://github.com/EricGrange/cefHtmlSnapshot/blob/main/cef.inc

### L

[2020-12-17 09:19] Alhadis commented on #5115
Why did you remove the checklist from the issue template?

[2020-12-17 09:40] lildude commented on #5115
Ditto to what @Alhadis said; the checklist is for everyone's benefit so we know we're all starting on the same page in terms of basic knowledge of how Linguist works and how to control its behaviour. The rest of my comment is based on the basis you have read all the links.

As for the reason, this is happening because you're using the very generic `.inc` extension which is currently associated wit

[2020-12-17 10:04] EricGrange commented on #5115
Sorry, TBH I removed it because I did not see it as a checklist to be submitted but more as a generic comment paragraph. :/

As for notability I ran a search the .inc extension and two common terms found in those (the major compilers), from a quick look the results are actual Delphi /Pascal files with no false positives in the first result pages

https://github.com/search?q=extension%3Ainc+delphi&

[2020-12-21 20:26] dan-trewin opened #5117 "How to use linguist-vendored in .gitattributes with directories with spaces?"
Github is recognizing my repo as the wrong language due to vendored code.  I've been searching all over for an answer to this issue.

Basically, the directory I want linguist to ignore has a space in it.  Unfortunately, I think this is causing an issue with the pattern matching.

How would I mark `/Assets/TextMesh Pro/*` as vendored code in `.gitattributes`

I've tried all these an none of them ha